[2015-04-27 10:43] dpino opened #4 "Conntrack: Handle TCP and UDP connections"
UDP connections do not negotiate connections (no three-hand shake), so they should implement a different logic to keep track of connections.

[2015-04-27 10:45] dpino opened #5 "Conntrack: Handle TCP_FIN"
TCP_FIN frame is sent when a connection explicitly terminates a connection. The code is not currently handling that case.

[2015-04-27 10:48] dpino opened #6 "Conntrack: Handle TCP connections that drop without TCP_FIN"
Connections may finish without a TCP_FIN for the case of TCP, and the same can happen for UDP where there's no signal.

A possible solution is to add timestamps and have a time-based heuristic. The connection tracking lib should allow user to skip this logic and implement their own strategy.

[2015-09-30 09:22] andywingo opened #44 "Document virtualized lwAFTR usage"

[2015-09-30 09:24] andywingo opened #45 "Assemble release tarball for proof-of-concept milestone"
Contents:

 * Source tarball, including downloaded dependencies
 * Binary snabb-lwaftr executable
 * Benchmark results
 * Built documentation
 * A manifest describing the contents

[2015-09-30 09:30] andywingo opened #46 "Update benchmarks"
Update the lwAFTR benchmarks, also making sure that the documentation that can generate the benchmarks is up-to-date with the transient program from #43.  No external nic_ui / snsh script invocation should be necessary.

The results will be:

 * A self-test of the "transient" benchmarking harness (is it able to generate the desired load)
   - as a CSV file and as a graph of RX/TX MPPS/Gbps over ti

[2015-09-30 10:04] andywingo opened #47 "Update documentation to run lwAFTR and transient only via "./snabb-lwaftr" binary"
Now that the transient load generator and the lwaftr are both runnable from the snabb-lwaftr binary, we need to review all docs to make sure they are using the proper invocations.

[2015-09-30 10:05] andywingo commented on #45
Ideally we add a target to the root Makefile to generate the release tarball.

[2015-09-30 11:00] andywingo commented on #45
I will make the Makefile target, dist on my local machine, and then use that tarball on interlaken to test.

[2015-09-30 13:28] wingo opened #49 "Binaries built on Guix don't run on Ubuntu"
I built a snabb-lwaftr binary and it didn't run on Ubuntu.  I think it's because it specifies the interpreter explicitly:

[code]

For now to distribute binaries I'll build on Debian but we should probably figure out a solution.  We could statically link in libc and everything; perhaps that would give us a more consistent static address space layout anyway...

[2015-09-30 13:29] andywingo commented on #49
Cc to @lukego who might have opinions about what he would accept in Snabb proper; not urgent though.

[2015-09-30 14:54] andywingo commented on #46
Makefile to create benchmark csv files:

[code]

[2015-09-30 18:09] andywingo commented on #47
tx to @kbara for her work on #55; cheers!

[2015-10-01 11:12] dpino commented on #44
Done in #56.

[2015-10-01 11:12] #44 closed

[2015-10-01 15:30] dpino opened #60 "Move benchui.lua to program/snabb-lwaftr"
SSIA. I think a good name for the command could be `bench`.

[2015-10-01 15:35] andywingo commented on #46
So this makefile resulted in poor perf numbers; even with taskset to ensure that the transient and the run executables were run on different sockets, strangely I was peaking at 1.5MPPS.  Very odd.  But then on separate login shells I ran the programs manually, with taskset, and reliably reached 2MPPS.  Very weird.  So in the end our perf numbers are from this second, more manual way of running thi

[2015-10-01 15:38] dpino opened #61 "Move /docs to src/program/snabb-lwaftr/"
SSIA. A program's documentation should be on its own program folder, so there are not merge conflicts if a SnS developer would like to fetch a branch from some other SnS developer repository.

See Luke's comment on #57.

[2015-10-01 15:44] dpino opened #62 "Add make command to build snabb-lwaftr documentation"
Currently, snabb-lwaftr documentation is converted from Markdown source files to PDF with a script at `docs/build-all.sh`. SnabbSwitch has Makefile rules at `src/Makefile` for building documentation. For instance:

[code]

We could have something similar for the `snabb-lwaftr`:

[code]

And even converting it to HTML and epub, as SnS does (we are also using `pandoc`).

[2015-10-01 16:07] andywingo commented on #46
I finally realized what is going on, I think.  Since on interlaken the .0 ports are cabled to the .1 ports it's not possible to run the load generator on a different socket from the lwaftr and be optimal, because there are two NUMA nodes (one for each socket) and the .0 and .1 ports for a given card will probably be on the same NUMA node.

Getting the NUMA node wrong is worse than the cache interf

[2015-10-01 16:55] #60 closed

[2015-10-01 17:04] andywingo commented on #46
Done https://github.com/Igalia/snabbswitch/blob/lwaftr_nutmeg/docs/README.benchmarking.md

[2015-10-01 17:04] #46 closed

[2015-10-01 17:04] andywingo commented on #47
All done

[2015-10-01 17:04] #47 closed

[2015-10-01 17:10] andywingo commented on #45
http://people.igalia.com/awingo/snabb-lwaftr-v1.0.tar.xz

[2015-10-01 17:10] #45 closed

[2015-10-01 22:47] lukego commented on #46
SnabbCo/snabbswitch#628 (intel10g txdesc prefetch) may improve load generator performance to compensate for NUMA effects. (Seems to in quick testing now.)

[2015-10-02 07:31] andywingo commented on #46
@lukego interesting!  will follow that as we see how we do on smaller packets.  for now though, what a relief to finally identify the source of our observed perf variance (numa), and to be able to fix it!

[2015-10-02 13:46] dpino commented on #61
Solved in PR #65

[2015-10-02 13:46] #61 closed

[2015-10-02 13:47] dpino commented on #62
Solved in PR #66.

[2015-10-02 13:47] #62 closed

[2015-10-02 13:50] dpino opened #68 "Move tests/ to program/snabb_lwaftr/"
For the same reason as #61.

[2015-10-05 15:10] aperezdc opened #71 "Rewrite lwstats.py in Lua, make it read the new CSV output format"
The `tests/apps/lwaftr/end-to-end/lwstats.py` script does not have anything Python-specific that couldn't be written in Lua. Provided that people may want to use it in the same machine where Snabb is running, and that Snabb itself does not have a dependency on Python, it could be that Python is not available, and therefore it would be good to rewrite the script in Lua.

Also, currently the output

[2015-10-07 12:52] kbara commented on #71
I believe the script as-is obsolete, since we've removed nic_ui.lua/tooling which generates this output format. We can scrap it entirely or teach (the port of it) to parse the new CSV output, but porting the current one would be a mistake.

[2015-10-07 16:26] dpino opened #72 "Replace tabs for spaces"
There's a mix of tabs and spaces in the code base. The preferred way is to use spaces (3-spaces for Lua Code, 4-spaces for C code), as it's what SnabbSwitch code base uses.

To avoid tabs being committed in the code base, a good method is to activate git's pre-commit hook:

[code]

This will prevent you from committing tabs and other unneeded characters that sometimes are inadvertently inserted, s

[2015-10-07 17:24] aperezdc commented on #71
@kbara Very good point. Luckily I got dragged into other things so it won't be needed to throw away much code (if any). I have edited the issue title and description accordingly.

[2015-10-07 17:51] #72 closed

[2015-10-07 17:51] #68 closed

[2015-10-07 17:54] dpino opened #74 "Include lwaftr file on top"
For some reason unknown, files implementing commands such as `run`, `bench` or `check`, have to include file `lwaftr.lua` after argument parsing. Otherwise, help can only be printed is the command was run as root.

[2015-10-08 11:05] dpino commented on #74
This issue was solved in PR #75.

[2015-10-08 11:05] #74 closed

[2015-10-08 16:02] kbara opened #78 "Reassemble incoming IPv4 fragments"

[2015-10-08 16:04] kbara opened #79 "Clean up 802.1q tagging support"
The current code re-assigns constants and assumes all packets are tagged/untagged based on a configuration variable.

[2015-10-08 16:04] kbara opened #80 "Audit the TODOs/FIXMEs"
Some are stale, some should be fixed - create new issues for the latter.

[2015-10-08 18:54] aperezdc commented on #78
Provided that I implemented the IPv4 fragmentation, I'll go ahead an implement this. I'm assigning the issue to me, and once the reassembly code is ready, we can bounce the issue back to you for integration.

[2015-10-09 09:03] dpino opened #81 "Update lwaftr to SnabbSwitch Olive"
* Update lwaftr_nutmeg to SnabbSwitch olive (v2015.10)
* After that, there will be a remote branch `lwaftr_olive` and new PRs should be rebased to `lwaftr_olive`.

[2015-10-09 09:53] dpino commented on #81
There's no PR for this issue. _lwaftr_olive_ is now available as a remote branch:

[code]
Until we decide whether to force update _igalia/master_ with _lwaftr_olive_, rebase your new PRs against _lwaftr_olive_ instead of _lwaftr_nutmeg_. cc @kbara @andywingo @aperezdc

All tests passed successfully. All snabb-lwaftr commands are working fine (tested a transient and run in a Snabb machine with card

[2015-10-09 14:52] dpino opened #83 "Add Changelog"
We should have a Changelog so it's easier to keep track of new feature additions. When someone adds a new feature, should also add a small description to the Changelog. Initially, the Changelog should contain a description of the main features of the lwaftr v1.0.

[2015-10-11 19:35] aperezdc commented on #83
Just an idea: using the “[keepachangelog](http://keepachangelog.com/)” format. It's Markdown, so it renders nicely (e.g. in GitHub), and being a speficied format, [tooling](https://github.com/olivierlacan/keep-a-changelog/issues/67) can be made (and some tools exist already).

[2015-10-16 16:17] dpino commented on #83
+1 using keepachanglog format.

[2015-10-19 15:17] dpino opened #84 "Ignore files produced by make snabb-lwaftr-doc"
Running `make snabb-lwaftr-doc` within `program/snabb_lwaftr`, generates four documentation files in several formats (.md, .pdf, .html and .epub). As these are generated docs, they should not be tracked. Add a .gitignore file to remove them from the stage.

[2015-10-19 15:18] kbara commented on #84
That would be good, yes.

[2015-10-21 08:38] dpino commented on #84
Solved by PR #86

[2015-10-21 08:38] #84 closed

[2015-10-21 08:43] #81 closed

[2015-10-26 12:56] dpino opened #89 "Reload binding table on SIGHUP"
Sending a SIGHUP to the “snabb-lwaftr” process will reload its binding table.

[2015-10-26 17:33] dpino commented on #89
Solved by #90.

[2015-10-26 17:33] #89 closed

[2015-10-27 08:46] #6 closed

[2015-10-27 08:46] #5 closed

[2015-10-27 08:46] #4 closed

[2015-10-27 09:34] dpino commented on #49
I run into a similar issue when I tried to use a previously Ubuntu built QEMU in chur. The reason was the explicit path to the ELF interpreter as you pointed out.

This is what I got for a snabb binary in chur:

[code]

If I move it to my local desktop (Ubuntu), I cannot run it:

[code]

Very misleading message. It's possible to run the binary by explictly invoking the interpreter:

[code]

Or bet

[2015-10-27 12:35] lukego commented on #49
I lean towards using a Dockerfile to build binary releases. That way we have a controlled build environment e.g. a semi-ancient Debian. What do you think?

btw I have added Snabb Switch to NixOS (nixos/nixpkgs#10272) and am currently cooperating with @domenkozar to get the full-blown OpenStack with Snabb NFV added too (nixos/nixpkgs#10399). This is intended to make the complete test environment ea

[2015-10-27 12:51] domenkozar commented on #49
We could distribute Nix package to ubuntu (with either sudo install or rewriting nix paths). Another option is as @dpino said, use `patchelf --set-interpreter /lib64/ld-linux-x86-64.so.2 ./snabb` to set a different interpreter.

Third option and I think the best one, would be to use Nix to build .deb/.rpm as we do for Nix itself ready: http://hydra.nixos.org/eval/1227834

[2015-11-17 14:23] andywingo commented on #78
What is the status here @aperezdc? :)

[2015-11-17 14:27] andywingo commented on #71
Does this script provide any value currently?  I think maybe not, given that we identified the NUMA issues which caused so much instability in our numbers...

[2015-11-17 15:05] andywingo opened #98 "Port-restricted IP addresses do not work with VLAN tagging"

[2015-11-17 15:05] andywingo opened #99 "IPv4 ICMP does not work with VLAN tagging"

[2015-11-17 15:06] andywingo opened #100 "MTU configuration should not include L2 header size"

[2015-11-17 15:06] andywingo opened #101 "Change to use PSID format for port partitioning"
See http://tools.ietf.org/html/rfc7597

[2015-11-17 16:11] andywingo opened #102 "VLAN tag configuration shouldn't require 0x8100 prefix"

[2015-11-17 16:24] andywingo opened #103 "Backport IPv4 reassembly to v1.1"
See https://github.com/Igalia/snabbswitch/pull/87

[2015-11-17 20:18] kbara commented on #71
In broken form, no. Unbroken, it would still be useful - it was a very handy way to get an idea of whether small performance increases were real by checking multiple runs, and the transient tooling does not provide an equivalent.

[2015-11-18 01:04] aperezdc commented on #78
@andywingo: The functionality has been implemented (see PR #87), and just today I have updated the code to also work well after the refactor of the 802.1Q VLAN handling.

[2015-11-18 12:46] andywingo commented on #103
Actually many of the PRs associated with this milestone are relevant: https://github.com/Igalia/snabbswitch/pulls?q=milestone%3Av1.1+is%3Apr

[2015-11-18 12:51] andywingo opened #109 "Set up continuous integration"

[2015-11-18 12:53] kbara opened #110 "Set up continuous benchmarking"
It would be awesome to always know:
- how the system's performance is on the current dev branch on sample workloads
- if we have performance regressions with new commits

[2015-11-18 13:04] andywingo commented on #110
Yes!!! Once we have our test machines installed at the office we can do this like snabb-bot does (an external continuation integration tool).

[2015-11-18 13:15] andywingo commented on #109
https://github.com/Igalia/snabbswitch/pull/111

[2015-11-18 13:29] andywingo commented on #109
Done!

[2015-11-18 13:29] #109 closed

[2015-11-18 13:43] kbara commented on #109
Three cheers for @andywingo and @aperezdc . :)

[2015-11-18 14:21] andywingo commented on #79
Closing as done in https://github.com/Igalia/snabbswitch/pull/105.

[2015-11-18 14:28] kbara commented on #79
Well, it's cleaner, but there'll definitely be more work going into it over the next while; several bugs depend on that.

[2015-11-18 14:32] andywingo commented on #79
OK :) So let's retitle this bug to make it actionable.  Is it just a question of cleanups, or are there correctness issues, and if so which issues?  Correctness issues are 1.1 material, cleanups probably not.

[2015-11-18 14:34] kbara commented on #79
They're linked. I want to centralize our header handling. For 1.1, it's going to be very C-style, like the lwaftr's fast path. For a later release, I'd like to make it more lib.protocol style again, because that's a much safer style of programming. Right now, we're using a mix, part of which supports vlans and part of which doesn't.

[2015-11-18 17:33] andywingo commented on #102
Fixed in #115.  Thank you @dpino :)

[2015-11-18 17:33] #102 closed

[2015-11-19 14:51] aperezdc commented on #103
In PR #116 we have now a working implementation backported from `lwaftr_olive`. I need to update it later today with small cleanups suggested in code review, and then it will be ready to be merged.

[2015-11-19 14:53] aperezdc commented on #78
I have to update later today PR #87 with the cleanups suggested in the code review of PR #116 (which contains the backport of this for the `lwaftr_nutmeg` branch), and then it will be ready for merging.

[2015-11-19 14:57] aperezdc commented on #71
Quick update: this is still stalled from my side. This does not seem to be a pressing issue, so I have been working in other issues (mostly, IPv4 reassembly), and will retake this afterwards.

[2015-11-19 15:06] dpino commented on #98
So far what I have done is to clone the end-to-end tests so packets and configuration files have VLAN tagging activated #108 . There are some tests that pass and others don't. Code is merged in lwaftr_olive now (end-to-end-vlan.sh).

Many of the tests that don't pass are related with ICMP packets. I believe #99 will fix those. So I'm focusing instead on those which are not ICMP related. My next st

[2015-11-19 15:41] dpino commented on #98
One failing test is:

[code]

**tcp-afteraftr-ipv6-3frags.pcap** headers
[code]

**/tmp/endoutv6.pcap** headers
[code]
The difference is the truncation of the first packet. It's one byte shorter (1208 bytes vs 1216 bytes). The diff reports a difference in byte 33, but I think that's PCAP header control information because it's data before the payload.

**tcp-afteraftr-ipv6-3frags.pcap**
[code]

**

[2015-11-19 15:44] aperezdc commented on #78
PR #87 is now already merged, and I have posted PR #120 with the cleanups suggested in PR #116.

[2015-11-19 15:47] kbara commented on #98
I'm explicitly not addressing fragmentation problems until fixing  #100 . If this persists after #100 is fixed, ping me. Byte 33 is indeed part of the pcap header.

[2015-11-19 18:04] aperezdc commented on #78
Now that PRs #87 and #120 are merged, the remaining bit is to add the needed calls to `fragmentv4.reassemble_ipv4()` in the lwAFTR code.

[2015-11-20 00:24] kbara commented on #79
https://github.com/Igalia/snabbswitch/pull/121 addresses the core of it, though various edges can be cleaned further, as discussed with @aperezdc .

[2015-11-20 02:24] kbara commented on #99
Solved by the combination of
https://github.com/Igalia/snabbswitch/pull/121
https://github.com/Igalia/snabbswitch/pull/124
as far as I can tell.

[2015-11-20 15:44] andywingo commented on #103
AFAIU the cleanups are not functional in nature -- i.e. the code is correct as is.  For that reason, closing the bug.  If you have a cleanup you want landed on lwaftr_nutmeg please open a PR (maybe you have and we haven't gotten to it yet), but let's focus on lwaftr_olive in general for things not related to milestone v1.1.

[2015-11-20 15:44] #103 closed

[2015-11-20 15:48] andywingo commented on #99
Closing, then :)  Thank you @kbara!

[2015-11-20 15:48] #99 closed

[2015-11-20 16:12] andywingo commented on #98
After all the bug fixes we are not able to reproduce this issue.  We're asking for more information but in the meantime we'll roll a v1.1 with all we have.  Reassigning to v1.2.

[2015-11-20 17:06] kbara commented on #99
These patches depend on https://github.com/Igalia/snabbswitch/pull/105 , btw.

[2015-11-20 17:51] kbara commented on #98
For future reference: the bug @dpino mentioned is fixed, via https://github.com/Igalia/snabbswitch/issues/100 (redefining MTUs to be L3), which depends on https://github.com/Igalia/snabbswitch/pull/105 (vlan/header handling refactorings). I don't think it's related to the externally-reported bug.

[2015-11-20 19:20] kbara commented on #100
Resolved in https://github.com/Igalia/snabbswitch/pull/132 (for nutmeg) and https://github.com/Igalia/snabbswitch/pull/126 (for olive).

[2015-11-20 19:20] #100 closed

[2015-11-20 19:23] kbara commented on #99
Fixed in https://github.com/Igalia/snabbswitch/pull/131 for nutmeg.

[2015-11-20 19:26] kbara commented on #79
I'm going to close this now. It still depends on a configuration variable, and a further issue can be opened if that becomes an issue at any point. Vlan handling is significantly better now, both internally and at the configuration level.

[2015-11-20 19:26] #79 closed

[2015-11-20 19:27] kbara commented on #78
@aperezdc do you want to do that (plus the fragment caching, IPv6-style), or should I? :)

[2015-11-20 22:42] aperezdc commented on #78
@kbara: I'm working on it.

[2015-11-23 08:21] kbara opened #136 "Fully integrate IPv4 reassembly"
https://github.com/Igalia/snabbswitch/pull/135

[2015-11-23 11:46] kbara opened #139 "IPv6 incoming fragments: don't leak memory"
Spotted by @aperezdc , fixed by @kbara, reviewed by @dpino
Olive: https://github.com/Igalia/snabbswitch/pull/137
Nutmeg: https://github.com/Igalia/snabbswitch/pull/138

[2015-11-23 11:47] #139 closed

[2015-11-23 14:12] aperezdc commented on #78
I have posted a first pass at the code in PR #135, and right now @kbara is going over the code before merging it. Also, I found a leak in the existing fragment cache for IPv6, which is handled in issue #137.

[2015-11-25 09:29] kbara commented on #136
This is solved by the above PRs. Thanks @aperezdc .

[2015-11-25 09:29] #136 closed

[2015-11-25 11:02] kbara commented on #78
This is merged and backported and tested, so I believe this is done.

[2015-11-25 11:02] #78 closed

[2015-11-25 13:28] kbara opened #146 "Add a way to dump the current configuration and binding table"
Perhaps via sigusr1?

[2015-11-26 15:29] kbara opened #147 "Add ACL support"
@dpino are you willing to assign this to yourself?

[2015-11-26 15:29] kbara opened #148 "Automatically discover L2 address of router on IPv6 interface"

[2015-11-26 15:30] kbara opened #149 "Fuzz-test the lwaftr"

[2015-11-26 15:30] kbara opened #150 "Write property-based tests for the lwaftr"

[2015-11-26 15:31] kbara opened #151 "snabb-lwaftr --compile-table"

[2015-11-26 15:32] kbara opened #152 "Sighup handling, including integration with --compile-table."
I believe this has partly been done by @dpino, but this depends on https://github.com/Igalia/snabbswitch/issues/151 to do fully.

[2015-11-26 15:32] kbara commented on #151
This presumably depends on https://github.com/Igalia/snabbswitch/issues/101

[2015-12-03 11:24] dpino commented on #101
I have taken a look at the referred document. If my understanding is correct it goes like this:

It is necessary to define a *sharing ratio* (R) and a *maximum number of continue ports* (M). Given these constant values, a port value (16-bit) is divided following this bit pattern:

0                          8                         15
+---------------+----------+------+-------------------+
|

[2015-12-03 11:44] kbara commented on #101
I haven't carefully checked every detail, but it sounds plausible.
Just a thought: what about internally continuing to have our data structures internally use a start port and an end port, making this essentially a front-end change in how we specify them? Or do you see a reason to make it go deeper?

[2015-12-03 12:14] dpino commented on #101
@kbara If I understood the spec correctly, I think the main advantage of using PSID format is that a single entry can cover a wide range of ports. For instance, following the example in "Extended IPv6 Addressing for Encoding Port Range" [1], which also describes the PSID format:

R=128 (k=7), M=4 (m=2)
PSID = 0, would cover 128 ranges ([1024-1027], [1536-1539], ..., [65024-65027])

We can, on the

[2015-12-03 12:15] kbara commented on #101
Okdokie, cool.

[2015-12-07 18:38] kbara commented on #101
'j' is being defined differently from http://tools.ietf.org/html/rfc7597#section-7.1 in this example. In RFC 7597, ```j:  Selects the specific port within a particular range specified by the concatenation of A and the PSID.```. Your table is from https://tools.ietf.org/html/draft-bcx-behave-address-fmt-extension-01 . This is ok, but we might want to avoid calling it 'j' to avoid confusion.

------

[2015-12-07 23:18] kbara commented on #101
I've looked at this harder, and made a working port range calculator. My earlier comment about port_ranges was incorrect. The following code matches the spec.

[code]

------------------------

The output:
[code]

[2015-12-07 23:21] kbara commented on #101
As for why a = 6 by default: that gives us the bit pattern 0x0400 for the first port of psid=0, aka 1024. This also explains why a=4 starts at 4096 - it's 0x1000.
(Both cases depend on excluding A = 0 if a > 0).

[2015-12-08 14:39] dpino opened #160 "Support PSID format in dump of configuration file and binding table"
Depends on #157

[2015-12-08 14:44] kbara commented on #98
Can we close this? I believe the vlan tests (and associated code fixes) we did for 1.1 (and on lwaftr_olive) resolve every issue related to this that we can reproduce, although not every issue that has been reported. Thoughts, @andywingo , @dpino ?

[2015-12-08 14:45] kbara commented on #83
We now have a changelog. @dpino , think we can close this issue?

[2015-12-09 11:09] #83 closed

[2015-12-09 11:21] dpino commented on #98
@kbara SGTM. It seems most of the cases, if not all, are solved now. If there are new bugs related with this issue in the future, we can open a new issue with a narrower scope.

[2015-12-09 11:24] #98 closed

[2015-12-10 09:36] dpino commented on #147
PR #96 implements this feature partially. It enables to add ingress/egress filters for IPv4 and IPv6 packets in lwaftr.conf file. With regard to egress packets, the filter applies to ICMP packets too, which I'm not sure about it. The PR is pending to be review.

To implement ACL support, I'm going to create a new PR on top of PR #96.

[2015-12-10 12:33] kbara commented on #146
Re-opening because the binding table part will need re-working once we've landed the PSID code.

[2015-12-10 16:06] kbara opened #165 "Incoming ICMPv6 hairpinning support is broken"
IPv4 addresses and ports are being looked up at the wrong offset in the mapped ICMPv4 packet to send as a result of an incoming ICMPv6 information that needs to convey information from the IPv4 source host in the OPE.

[2015-12-10 16:14] kbara opened #167 "Make the tests run faster"
Right now, it takes about one second per end-to-end test. Having them be ~instant would be nicer.
Any interest in fixing this, @dpino or @aperezdc ? :-)

[2015-12-10 16:21] kbara commented on #165
Fixed in https://github.com/Igalia/snabbswitch/pull/168 . Found as a result of stricter binding tables with @dpino 's PSID support work having the hairpinning test fail. Fixing the broken offset there revealed a latent bug in the non-hairpin case (checking the destination rather than source IP and port of the OPE), and fixing that makes all the test cases pass.

[2015-12-10 16:44] kbara commented on #165
Fixed in nutmeg for v1.2 with https://github.com/Igalia/snabbswitch/pull/169

[2015-12-10 17:11] dpino commented on #167
OK, I think it makes sense. `check` is mainly used for running the tests.

[2015-12-10 17:11] kbara commented on #165
I believe this was only a bug with active symptoms for hairpinned packets, regardless of whether or not port ranges were restricted.

[2015-12-10 18:23] dpino commented on #167
I have a patch for this. I will send it later.

[2015-12-10 22:29] kbara commented on #167
Thanks, looking forward to it. :-)

[2015-12-13 11:45] mwiget commented on #101
Instead of dealing with ranges, why not calculating a bit mask that exposes just the psid, then apply that mask to the packets TCP/UDP/ICMP port number/id  and do the lookup with the result?
The hash table's key contains the IPv4 address and the shifted psid (shifted to the left by m bits).

Adding the bit mask operations to the example code above:

[code]

shows that the calculated psidkey is 208

[2015-12-15 15:36] #167 closed

[2015-12-15 15:39] dpino commented on #147
Extended #96 to handle ACL compilation too.

[2015-12-16 10:05] wingo commented on #49
Sadly this works in the opposite direction too -- binaries build on FHS systems don't run on Nix/Guix, as Nix/Guix don't have /lib64/ld-linux-x86-64.so.2.  It kinda cramps our "we'll release source of course but also a self-contained binary you can just run anywhere" message.  I'll take a brief look into building a static binary and see what happens -- we don't really need the dynamic linker anywa

[2015-12-16 10:08] domenkozar commented on #49
@andywingo you can use `patchelf` on Nix.

Run "ldd `which cat`" to get a link to interpreter, then

`patchelf --set-interpreter /nix/store/q0m70q5wg21hxrixkp1xk4x95sfs2fln-glibc-2.21/lib/ld-linux-x86-64.so.2 ./mybinary`

Of course, it's better to build this from Nix without hardcoding interpreter that might be GCed.

[2015-12-16 11:00] andywingo commented on #49
Thanks @domenkozar :) I will probably end up just doing what you suggest.  My quick fumblings with various compilation options failed to make a fully statically linked binary; ah well.

[2015-12-16 15:11] dpino commented on #146
Closing. There's an open issue for that specific case #160.

[2015-12-16 15:11] #146 closed

[2015-12-22 14:02] #165 closed

[2015-12-22 14:04] andywingo opened #180 "Factor fragmentation support into separate app(s)"
It would seem that it is possible to factor out the fragmentation code in the lwaftr to separate apps.  If we could do this, it would be so nice for the code, and it would enable re-use by other applications.  Thanks to Marcel Wiget for the idea.

[2015-12-22 16:00] andywingo opened #182 "Look up binding table entries for IPv6 packets using the IPv4 address in their payload"
This allows us to use a single table.

[2015-12-23 07:28] dpino commented on #182
There is something I don't understand about this issue and it's that in `from_b4` function this is already happening as far as I understand.

[code]

https://github.com/Igalia/snabbswitch/blob/lwaftr_olive/src/apps/lwaftr/lwaftr.lua#L746

Where `ipv4_src_ip` and `ipv4_src_port` are fetched from the IPv6 packet payload without decapsulating the packet.

[2015-12-23 08:14] andywingo commented on #182
Ah, interesting.  I hadn't noticed that.  In that case let's merge your PSID work and refactor incrementally; seems we're not as far off as I thought we were.

[2015-12-23 08:17] andywingo opened #184 "Experiment: factor vlan processing into separate app"
In retrospect, adding vlan support to the lwaftr really complicated its inner workings.  It would have been much nicer if we instead added and removed vlan tags with separate apps.  Of course this could add inefficiencies, but maybe not so much, and you'd only pay for it if you use vlans... and if you use vlans and ran into perf problems, perhaps you could use vmdq to remove the vlans on the hardw

[2015-12-23 13:30] lukego commented on #49
@andywingo The last time I dug into static linking the conclusions I came to were:

1. Static linking with glibc is not supported anymore.
2. musl does work with static linking.
3. musl is unsuitable for some other reason (I'd have to check my twitter stream for where I came to that conclusion in a conversation with @justincormack). I am not sure if this was a fundamental reason or not.
4. The LSB

[2015-12-23 13:39] lukego commented on #49
(You would still need the patchelf trick or e.g. to build in docker with an old version of debian.)

I agree that this disrupts the "our binary works on any Linux machine" message. I have accepted this because it seems like people running NixOS/Guix probably expect a certain amount of unusual issues when installing binaries built on other systems.

Could be interesting to have another look at musl

[2015-12-23 14:14] justincormack commented on #49
The reasons for it not building on Musl libc were fairly minor from memory, and I do plan to look at them again soon.

[2015-12-23 14:49] lukego commented on #49
The big problem I encountered seems to be that musl does not support `dlopen()` and so LuaJIT's `ffi.load()` does not work. This is a problem for two reasons: that's a handy feature to have available to `snsh` scripts, and that is also how we have been dealing with awkward dependencies that we aren't willing to bring into the build but also don't want to completely exclude. This included libpcap i

[2015-12-23 15:04] justincormack commented on #49
Musl does support dlopen, but not with static linking. At some point this might actually change, it has been discussed.

[2015-12-23 15:13] lukego commented on #49
Interesting.

The other issue that comes to mind is that one of the reasons we don't currently have a custom memcpy in Snabb Switch is that the glibc one has been competitive in benchmarks. This would need to be rechecked if we switch to musl to avoid performance regressions. However, having a good excuse to write our own memcpy for packets would not be the end of the world either.

[2015-12-23 15:18] justincormack commented on #49
I think it depends on whether we can include alignment constraints; also luajit has its own memcpy which we could use (it uses it eg for copying structs), could probably get it inlined by using struct assignment.

See also http://www.openwall.com/lists/musl/2012/07/30/4

[2015-12-23 19:43] lukego commented on #49
... you know if we did use static linking and no `dlopen()` it would potentially be inconvenient in the right way i.e. forcing us to do the right thing and build a truly self-contained executable without any "off the books" dependencies. If we could live with this then it could potentially be a good thing.

Programs that really do need glibc and/or `dlopen()` could be built accordingly with their

[2015-12-24 09:48] #182 closed

[2015-12-24 09:52] dpino commented on #101
Development of this issue has been carried out in #161 and #185.

[2015-12-27 21:43] kbara commented on #180
It should be doable, and make a number of things much nicer. I wanted to do that before the alpha release, but didn't have time.

[2015-12-27 21:51] kbara commented on #184
Unless we can avoid effectively memcopying everything, I'd say the cost is too high. Some of the packet+offset musings at the SDN workshop could make it affordable; dunno about vmdq.

Vlan support doesn't actually complicate the inner workings that much; the main problem is that it composes awkwardly with almost everything, and gets touched in a lot of places.

Architecturally, I'd like to have it

[2015-12-28 10:52] lukego commented on #184
In the big picture for Snabb Switch I think we have to deal with awkwardly inconsistent packet formats e.g. untagged / 802.1Q tag / QinQ tag / etc. Certain programs may be able to avoid this in the short term e.g. with an app or VMDq to insert/remove tags at the edges but this won't be a winning strategy in the long term.

Snabb NFV will have to deal with this soon e.g. we want to make the L2TPv3

[2016-01-04 08:51] dpino commented on #101
Support of this feature has landed in lwaftr_olive.

[2016-01-04 08:51] #101 closed

[2016-01-04 12:27] dpino opened #190 "Binding table should only store information about PSID"
Now information about PSID length and shift for each IPv4 address goes in `addresses.txt` file (address map). Information about PSID length and shift in the binding table is not currently being used. Entries of binding table should store their PSID value.

[2016-01-04 16:45] dpino commented on #180
In case of moving out the code, what would make more sense, to move it to its own app or to a protocol library? It seems to me it should be a protocol library, same as `ipv4.lua` or `ethernet.lua`.

[2016-01-06 16:37] andywingo commented on #180
I took a look and the overhead of factoring out reassembly to its own apps -- because I guess we would need separate apps for reassembly and for fragmentation -- the overhead for that would take us from being able to do 3.84+3.84 MPPS of 550-byte packets under the benchmark scenario down to 3.68+3.68 MPPS or so.  It's conceivable that if we were able to assume that the incoming packet is not fragm

[2016-01-11 08:10] andywingo commented on #190
Fixed in #193.

[2016-01-11 08:10] #190 closed

[2016-01-11 08:11] andywingo commented on #180
Fixed in #195 / #197.  The perf penalty I note above is doubled because of adding the fragmentation apps.  If we are struggling for performance, we can pull this code back in, but in a way that doesn't add the implementation to lwaftr.lua.

[2016-01-11 08:11] #180 closed

[2016-01-11 08:12] andywingo commented on #184
Fixed in #195 / #197.  There are soft vlan tagger / untagger apps, but we'll take advantage of hardware if it's there.

[2016-01-11 08:12] #184 closed

[2016-01-11 08:20] andywingo commented on #160
From what I can tell, this feature isn't needed.  The reason is that right now the lwaftr doesn't have a northbound interface, so there has to be some other program configuring the lwaftr, or otherwise it's done by hand.  In that case you know the configuration -- it's the way you configured it!  If the lwaftr could change its configuration while running, then we would need this, but as is I think

[2016-01-11 08:21] andywingo commented on #152
Done, quite a while ago.  If there are bugs, let's open new tickets.  See additional comments on #151.

[2016-01-11 08:21] #152 closed

[2016-01-11 08:27] andywingo commented on #151
There is a `snabb-lwaftr compile-binding-table` command: https://github.com/Igalia/snabbswitch/tree/lwaftr_rambutan/src/program/snabb_lwaftr/compile_binding_table

Loading a binding table from source will look first for a corresponding already-compiled binding table, and load that instead if the source's mtime is the same as the mtime embedded in the compiled table.  In this way you can use compil

[2016-01-11 08:27] #151 closed

[2016-01-11 08:53] andywingo commented on #148
The goal of this ticket is to support auto-configuration of next-hop L2 addresses for the lwaftr program (and I say program rather than app because this probably shouldn't be a thing we implement in the lwaftr app itself).

Having taken a brief look at the ARP RFC's, I still don't see how IPv4 routers determine the ethernet address of the next hop.  In our case that will be a router, and we certai

[2016-01-11 08:57] andywingo commented on #147
I think we should agree on a design before proceeding with further implementation.  To me the first step is to add ingress/egress filter support to the lwaftr program, via adding PcapFilter apps to the graph.  See https://github.com/Igalia/snabbswitch/blob/lwaftr_rambutan/src/program/snabb_lwaftr/setup.lua for where to add this support.  Then we implement a `snabb-lwaftr compile-acl foo.csv` comma

[2016-01-11 09:13] wingo opened #199 "Support running the lwaftr over virtio interfaces"
We would like to be able to run the lwaftr under virtualized network interfaces, using the virtio-net implementation from https://github.com/SnabbCo/snabbswitch/pull/681.

There are a few subtasks here.

 1. Merging.  Right now we are based off the rambutan release, which currently corresponds to Snabb master.  The PR in question is based on Snabb master, so we should be able to merge right now wi

[2016-01-11 09:21] andywingo commented on #110
See https://github.com/SnabbCo/snabbswitch/issues/688

[2016-01-11 10:27] eugeneia commented on #110
Would you be interested in running the second [SnabbBot](https://github.com/SnabbCo/snabbswitch/blob/master/src/doc/testing.md#running-a-snabbbot-ci-instance) instance?

[2016-01-11 10:32] andywingo commented on #110
@eugeneia yes certainly!  we have two machines that are pretty much the same as interlaken and which are mostly idle.  Do you have a NixOS config that automatically runs the SnabbBot?

[2016-01-11 11:13] kbara commented on #160
I originally had a similar series of thoughts. The missing factor is that it was explicitly requested. It's not useless, especially now that we can change configurations on the fly.

[2016-01-11 11:59] andywingo commented on #160
We can reload configuration from the same file, sure.  But the configuration will always be in that file, and there should ideally be only one entity (human or robot) editing that file, so I dunno, it seems of limited utility.

[2016-01-11 15:04] dpino commented on #199
The plan sounds good to me. I can take care of most these subtasks.

With regard to 1), the PR can be merged without changes I think. Let me test the PR on top lwaftr_rambutan first to confirm (working on that now).

With regard to performance, I have been trying to fix the code and make it run fully compiled, but still not success. I can share my investigations and progress here.

With regard to

[2016-01-11 15:09] dpino opened #201 "Add test that runs `snabb-lwaftr run` if the hardware is present"
That will help to avoid breaking `snabb-lwaftr` inadvertently.

[2016-01-11 17:08] dpino commented on #199
#202 solves checkpoint 1). It's the upstream VirtioNet PR rebased to `lwaftr_rambutan`.

[2016-01-11 17:09] dpino commented on #199
#203 solves checkpoint 3). Adds flag '--virtio_net' or '-i' (short form), so virtio_net drivers are used when launching `snabb-lwaftr run`.

[2016-01-12 09:21] dpino commented on #147
OK, so if I understand correctly, the idea is that instead of applying pcap filters in the lwaftr.lua code itself, implement filtering logic as independent apps that pipe with the reassemblers and lwaftr app to filter incoming and outgoing packets. I like this approach more.

The independent command to compile a ACL file to pcap-filter string sounds good to me. What's not clear is how to connect t

[2016-01-12 09:27] andywingo commented on #147
I was thinking the latter: that the use should compile the ACL file manually and paste the pcap-filter string into the lwaftr conf file.  Dunno.  It's terrible but the more I thought about it, it seemed like an ACL might be a misguided feature, and that really the network operator should be working directly with pcap-filter strings.  Having a tool just spit out a filter that you have to paste is a

[2016-01-12 09:35] dpino commented on #147
OK, totally agree. Although less automatic, I think it's easier to think in terms of pcap-filter expressions to filter out packets than in terms of ACL files, easier to test plus it's an useful feature itself. And if finally implement the `ingress_pcap_filter` feature will be a small step after this.

[2016-01-17 11:31] plajjan commented on #148
Indeed, you have a default route configured and ARP maps IP to MAC so you know what to put in the Ethernet header. ARP does not allow you to automatically discover the IP of your default gateway - that would be a job for DHCP or similar.

And I completely agree that this is outside of lwAFTR. Should preferably be a small separate app doing this :)

[2016-01-18 12:02] kbara commented on #148
There are two different NDP-related things to consider:
a) NA/NS support (somewhat like ARP was for IPv4) - neighbour solicitation and announcement. I've extended nd_light and just need to test it. We need this for interoperability with openwrt.

b) Figuring out next hops. In practice, for the moment, I think we should just stay with our current "configure a next hop statically" approach. NDP's ha

[2016-01-22 12:44] dpino commented on #199
#206 solves checkpoint 4).

The bad performance observed in the benchmarking of the virtio_net driver was due to a misconfiguration of the virtualized NICs in the host. Instead of using snabbnfv, I was using a script that brought up two NICs with vhost-user, that means two NICs where handled by one core. We want each card to be handled by a different NIC. When that happens, performance is the same

[2016-01-25 11:54] kbara commented on #199
Awesome work.

[2016-01-26 09:52] dpino commented on #147
Packet filtering support implemented in #207

[2016-01-26 14:26] wingo commented on #148
A question for @plajjan :)  What is the right thing to do on the ipv6 side?  We can statically configure a next-hop IPv6 address and get the right L2 address using ND, but as a person with ops experience I'm curious what you would want to see ideally -- is there a way for a router connected to a lwaftr to tell us "hey, all packets go to me and this is my L2 address" ?

[2016-01-26 14:28] kbara commented on #148
I second the "what would you like to see ideally?" question.
@wingo The NDP spec contains router solicitation.

[2016-01-26 14:39] eugeneia commented on #110
@wingo I have hacked together a NixOS module that runs SnabbBot as a service (configurable through Nix options): https://gist.github.com/eugeneia/53fe2615c1e90bc778a1

Is that what you were looking for? This is my first Nix expression, so take it with a grain of salt.

[2016-01-26 14:46] plajjan commented on #148
@wingo yes, that would be router advertisement (RA) that the router sends out to notify clients on the network that it is default gateway for the network. (risk of stating the obvious) RA is sent periodically and RS can be sent by client to immediately request an RA and avoid waiting for the next periodic RA, thereby speeding it up.

I will admit that we haven't discussed this in detail internally

[2016-01-26 14:51] wingo opened #209 "Implement l2fwd-like app"
We got reports that a user was able to process traffic with the DPDK but not with Snabb.  The Snabb counters were all zero.  This kind of problem is hard to debug remotely and probably an issue with the upstream intel 82599 drivers.  We should implement a simple l2fwd-like app and submit it to upstream Snabb, to use as a first step when troubleshooting connectivity problems.  We can also use this

[2016-01-26 14:52] wingo commented on #209
See https://github.com/SnabbCo/snabbswitch/pull/681#issuecomment-173862404 for some more comments.

[2016-01-26 14:53] wingo commented on #209
Ideally this app could run on virtio or tap interfaces as well.

[2016-01-28 13:31] kbara opened #210 "Print version number on start"
This would help verify that the source and running binary correspond, which would aid troubleshooting.

[2016-02-02 14:10] kbara opened #213 "Fix snabb-lwaftr run -vv"
[code]
Either we should fix -u (ultra-verbose) or remove it from the short help. I'd prefer the former.

[2016-02-02 14:14] kbara commented on #213
It's apparently been replaced by -v -v, however:

[code]

[2016-02-02 14:14] wingo commented on #213
The intention was to remove the -u option and replace with -vv or -v -v.  The short help should be updated accordingly and obviously the bug should be fixed :)

[2016-02-03 02:40] kbara opened #214 "The new parser no longer allows debug = true in config files"
This is an optional configuration variable, semi-documented, added in v1.2. It should either be fixed or replaced, with the replacement clearly documented as a breaking change.

[2016-02-03 13:51] wingo opened #215 "Merge to upstream Snabb"
Following https://github.com/SnabbCo/snabbswitch/pull/722#issuecomment-179098565, it would be great to merge to upstream Snabb.  We'd maintain the lwaftr part of Snabb, probably with an Igalia lwaftr-dev branch and a lwaftr-next branch or something.  However Snabb is undergoing a developmental transformation to a more distributed development model, and part of this is making a sort of layered divi

[2016-02-03 14:30] lukego commented on #215
Thought experiment: If you would simply PR this whole branch to SnabbCo:master then what would be the problem(s) with merging it?

I am browsing the changes with `git diff --stat v2016.01..igalia/lwaftr_rabutan` and to me the code looks mostly very contained within isolated directories e.g. `src/apps/lwaftr` and `src/program/snabb_lwaftr`. There are a small number of changes to common files (e.g.

[2016-02-03 14:52] wingo commented on #215
I guess I was worried about src/apps/lwaftr as well.  It's true that there's not a whole lot of core changes to work on but I dunno, getting things into Snabb upstream lately has taken many times the amount of effort that I initially thought it would, for many reasons.  I'm happy to PR but to avoid review problems I'm happy to separate out core changes too :)

[2016-02-03 14:57] eugeneia commented on #215
Can we get a comparison of pros and cons for this move? Quoting my own view on this matter:

Intuitively, I would merge everything from the `lwaftr` branch that is not in `program/lwaftr`, e.g. converge to a shared snabb “core”. I am realizing this is the current model of two distinct repositories. This is the perspective the quote is coming from, e.g. it focuses two problems:

1. Conflicting deve

[2016-02-03 15:07] lukego commented on #215
The reality is that we are working things out and you are taking the brunt of that. This is very valuable *if* we all arrive at a good common understanding that we can take forward before we all burn out on the whole discussion. I am sure we are close to that point now. Let us try to wrap this up, get lwaftr merged onto master, and celebrate that we made the whole damn process work :).

[2016-02-03 15:11] lukego commented on #215
@eugeneia I think that lwaftr and master can develop at independent paces. For example in the future the Igalians may prefer to merge master and PR back the result once every three months (say). For assigning PRs that are lwaftr changes to the right team we have several mechanisms: "assign" the PR to somebody, ask for the PR to be sent to the SnabbCo:lwaftr mirror branch, or ask for the PR to be s

[2016-02-03 15:15] lukego commented on #215
@wingo I'm sure we could strike a bargain on `apps/lwaftr` :-). I think the main requests would be for the code to be reasonably consistent with the other code in `apps` and for contributions to be welcome (including for features that maybe aren't interesting to the `program/lwaftr` application.) If that sounds onerous then the directory could be moved into `program/lwaftr/` where you can do more

[2016-02-04 12:06] dpino commented on #209
Proposed PR https://github.com/SnabbCo/snabbswitch/pull/736

[2016-02-07 17:39] lukego commented on #215
Just a note: based on the [watchers](https://github.com/Igalia/snabbswitch/watchers) page I am the only non-Igalia-employee who is following the development on this repository. When engaging with upstream it is probably reasonable to assume that nobody else is aware of any of the development that has been going on here.

This should become more visible in the future when people see this developmen

[2016-02-09 16:22] kbara opened #237 "(deleted)"

[2016-02-09 16:24] kbara opened #238 "(deleted)"

[2016-02-09 16:27] kbara opened #239 "(invalid)"
TODO: verify this, with an ICMP packet with an IP/port pair that are NOT in the binding table.
TODO: check whether packets are getting leaked rather than freed.

[2016-02-09 16:30] kbara opened #240 "Enhancement: better binding table management without restarts"

[2016-02-09 16:34] kbara opened #242 "(deleted)"

[2016-02-09 16:37] #242 closed

[2016-02-09 16:38] #240 closed

[2016-02-09 16:41] #237 closed

[2016-02-09 16:41] #239 closed

[2016-02-09 16:42] #238 closed

[2016-02-09 16:44] dpino commented on #199
Closing as all the checkpoints in this issue have been addressed. #230 adds a script to easily deploy the lwAFTR virtualized.

[2016-02-09 16:44] #199 closed

[2016-02-09 16:47] dpino commented on #147
ACL support is still pending but this issue has turned to be into adding packet-filtering support which was implemented in #207.

[2016-02-09 16:47] #147 closed

[2016-02-09 16:52] kbara commented on #199
Awesome work, @dpino !

[2016-02-09 18:32] dpino commented on #160
The little code that landed addressing this issue (src/apps/lwaftr/dump.lua) uses the old conf and binding table formats. In other words, it's broken. I agree this feature is of little help at this moment. We can remove the current dump code (in `apps/lwaftr/dump.lua`) and leave a TODO in the handling of the signal.

[code]

[2016-02-09 18:34] kbara commented on #160
It's an extremely useful feature, in practice. For long-running processes, in particular, it may well not correspond with what's on disk if someone changes it without reloading the config. Let's put it back this week, though not tonight. It *should* work in 2.1.

[2016-02-09 20:32] wingo opened #249 "Add test for tunneled icmpv4 ping from b4"
See https://github.com/Igalia/snabbswitch/pull/247.

[2016-02-09 20:37] kbara commented on #249
Note that it needs both kinds tested, as discussed on that link.

[2016-02-10 10:30] wingo opened #251 "Add test for hardware VLAN tagging/untagging"
Our automated tests don't use hardware NICs, and so don't exercise some lwaftr code paths.  See #250.  We need to improve our test setup.

[2016-02-11 15:28] wingo opened #259 "Add continuous integration on hardware"
Currently our continuous integration tests are run by TravisCI and run on generic software data paths.  We need to set up continuous integration on dedicated hardware.  This will also allow us to do performance testing; see https://github.com/Igalia/snabbswitch/issues/110.  Probably we can integrate this with SnabbBot.

[2016-02-11 15:30] kbara commented on #259
CI would be ideal. A script that runs a bunch of tests that's either conditionally run from 'make test' whenever hardware is detected, or in the worst case run by hand, would still be a non-trivial step forward.

[2016-02-15 09:15] wingo commented on #213
Fixed in the 2.0 release.

[2016-02-15 09:15] #213 closed

[2016-02-15 12:23] kbara commented on #148
Given discussion so far, I'm closing this; feel free to re-open. :-)

[2016-02-15 12:23] #148 closed

[2016-02-17 10:26] kbara opened #267 "Add "overnight" tests"
Re: https://github.com/Igalia/snabbswitch/pull/266 , we need to add some heavy load tests (all-ICMP loads, invalid and valid fragment loads), which will take too long to reasonably run under CI but should be run at least daily. They should primarily test for stability rather than performance.

[2016-02-17 11:17] wingo opened #268 "Channels mechanism not robust to /var/run/snabb/PID already existing"
Kat was just running a test and started to get bizarro segfaults doing simple things like:

[code]

Unfortunately we don't know what git revision the build corresponds to because reasons.  Anyway, the snabb runs were failing with:

[code]

Removing the contents of `/var/run/snabb` "fixed" the problem.

Relatedly, we have seen exceptions on startup if the channels directory for a PID was already th

[2016-02-17 11:22] kbara commented on #268
The revision was e525074bc82627b36dcc02752fb064eab95ef911 - this was after I'd built on your code from #266 .

Possibly unrelated, possibly not, here's an intermittent error I had several snabb launches before this appeared:
[code]

After that, I re-ran the end-to-end tests, and several ran successfully before a failure occurred. After that failure, all invocations of snabb-lwaftr that did more th

[2016-02-17 12:26] wingo opened #270 "Create more end-to-end tests"
- [ ] Hairpinning of ICMP error messages for non-existent IPv4 hosts
- [ ] Hairpinning of ICMP error messages for packets with the DF bit that would cause fragmentation
- [ ] Incoming ICMPv4 echo reply and response to a managed IPv4 address, both when the match succeds because there is a binding for port 0 and if it fails

See #266.

[2016-02-17 13:13] kbara commented on #270
We should probably also have tests for the following cases, making sure the lwaftr informs A appropriately in the following topology and cases:
host A -> B4a -> lwaftr -> B4b -> host B failing (ie, due to ttl hitting 0):
a) in the tunnel between the lwaftr and B4b
b) Between B4b and host B (ie, in an arbitrary IPv4 network)
In both cases, the test primarily is a matter of crafting what the lwaftr

[2016-02-29 11:06] dpino commented on #259
This task depends on https://github.com/snabblab/snabblab-nixos/issues/13

[2016-03-03 12:26] dpino commented on #259
Actually #13 was not a blocker.  Now I have managed to run `scripts/snabb_bot.sh` is our machines. Snabb-bot needs a TEST_IMAGE to run. The instructions to build the test environment are here: https://github.com/eugeneia/snabbswitch-docker. I got stuck while running `make image` https://github.com/eugeneia/snabbswitch-docker/issues/1

[2016-03-03 13:26] kbara opened #282 "Change port=0 ICMP handling to explicitly check for full port ranges instead"

[2016-03-03 13:29] wingo commented on #282
This is only for incoming echo requests and outgoing echo replies.  Currently, incoming requests / outgoing replies are allowed to/from a B4 that controls port 0.  That is a superset of all B4s that have full IPs.  We should only allow ping to a B4 that has a full IP, because it's usually assumed that if you can ping an IPv4, that all ports on that IPv4 are on the same host.

[2016-03-03 14:41] wingo opened #283 "Allow reserved_port_count > 0"
Currently the binding table parser asserts that psid_length and shift add up to 16.  This is too strict: they should add up to a number between 1 and 16.  If they add up to less than 16, then `reserved_ports_bit_count` is positive.  The code works AFAIU, we just have to fix this parser bug :)

[2016-03-03 15:14] dpino opened #284 "Packet loss when pinging a lwAFTR IPv4 interface"
When pinging an lwAFTR IPvv4 interface on an unloaded lwAFTR (that means, the lwAFTR is running but binding table is empty, no softwires), some packets are lost (got no reply).

Things to check:
* There's an echo reply for every echo request.
* There's a mismatch of sequence number and identifier between the echo reply and the echo request.
* The echo reply must reply with the same data it receive

[2016-03-03 15:30] dpino opened #285 "Cannot ping a lwAFTR IPv4 interface when next_hop_ipv6_addr is set"
Related to #284.

Same test case, but setting `next_hop_ipv6_addr` in lwaftr.conf, makes all packets to get loss. Using `next_hop6_mac` instead, turns things back to normal (that means, some of the packets get through, as described in #284).

Parameters `next_hop_ipv6_addr` is only used for setting NDP AFAIK. If I understand how NDP works correctly it resolves `next_hop6_mac` out of `next_hop_ipv6

[2016-03-03 15:40] #284 closed

[2016-03-03 15:41] #285 closed

[2016-03-08 08:50] wingo commented on #215
Done!  Thanks especially to upstream for helping.  Looking forward to figuring out our new workflow :)

[2016-03-08 08:50] #215 closed

[2016-03-08 09:07] wingo opened #288 "Switch from TravisCI to SnabbBot"
Related to #259.  More urgent now that the lwaftr is upstream.

[2016-03-08 15:24] eugeneia commented on #215
:+1:

[2016-03-11 09:48] dpino commented on #259
I made some progress related with this.

I configured SnabbBot so it pulls from igalia/snabbswitch and merges each PR in the PR tray against the branch "lwaftr". The name of the bot is  "snabb1-lwaftr/snabb-test". For instance:

https://github.com/Igalia/snabbswitch/pull/289

Don't pay to other bots such as "snabb1-eugeneia/snabb-nfv-test" or "snabb1-dpino/snabb-nfv-test", these were testing bots.

[2016-03-21 15:55] mwiget opened #290 "apps/lwaftr/fragmentv4.lua:152: invalid order function for sorting"
Sending a generated (though good) pcap file with IPv4 fragments of large packets over and over into lwaftr running a huge binding table of 4M entries, lwaftr terminates with the following error message:

[code]

The content of the lwaftr conf file snabbvmx-lwaftr-xe0.conf:

[code]

The pcap file (attached) is sent with tcpreplay over a connected 10GE port:

[code]

The error typically appears in s

[2016-03-22 09:55] wingo commented on #290
Is the lwaftr dropping packets on ingress?  In that case the reassembly buffer could keep growing.  That would explain the rising invalid reassembly counter.

I am not sure what to do with this TBH; the reassembly function looks good, the only thing that to my mind that would cause this would be some sort of memory corruption possibly triggered by overflow, or a bug in LuaJIT.  I don't like not be

[2016-03-22 14:00] mwiget commented on #290
I'm also guessing that its related to ingress packet drops, though didn't check for it. But the pcap file is fine and it works when sending the packets at lower speed. The real fix really will be some hardening on the reassembly function. Its ok for me to just keep this one open and come back to it once some hardening is added. I used this as a test case as well on what to document and how. I'm su

[2016-03-23 17:13] dpino opened #292 "Implement NS retries in NDP"
When 'next_hop_ipv6_addr' is set in a lwaftr.conf file, the NDP application sends a NS (neighbor solicitor) request broadcast to resolve the IPv6 address to an Ethernet address. The NDP send this solicatation only once, so in the event that the Neighbor Advertisement reply is missed, the IPv6 address won't be resolved into an Ethernet address.

Sending 3 or 5 five solications should guarantee non

[2016-03-23 17:14] dpino commented on #292
Related with https://github.com/Igalia/snabbswitch/pull/291

[2016-03-23 20:13] kbara commented on #292
Multiple solicitations aren't a guarantee (ie, a down link could come up after 6 seconds), and there are some subtleties with override flags, but this is an important step.

[2016-05-03 12:18] wingo opened #305 "Release v2.4"
We are going to make a v2.4 maintenance release on top of `lwaftr_starfruit`.  We'll be listing things here that need to be back-ported from the main `lwaftr` branch back to `lwaftr_starfruit`.

[2016-05-03 12:20] wingo commented on #305
- [x] https://github.com/snabbco/snabb/pull/707 (possibly already present in `lwaftr_starfruit` via a different path; not sure)

[2016-05-03 12:22] wingo commented on #305
- [x] https://github.com/snabbco/snabb/pull/783

[2016-05-03 12:29] wingo commented on #305
All of those previous ones are from before the lwaftr was merged.  After, it gets more complicated -- we have to rebase instead of merging.  I don't know if it is worth it.  I will attempt to assemble a list here:
- [x] https://github.com/Igalia/snabb/pull/291
- [x] https://github.com/Igalia/snabb/pull/294

[2016-05-03 12:37] wingo commented on #305
- [x] https://github.com/snabbco/snabb/pull/827
- [x] https://github.com/snabbco/snabb/pull/866

[2016-05-03 12:37] wingo commented on #305
OK that's all I can see.

[2016-05-03 12:37] kbara commented on #305
https://github.com/snabbco/snabb/pull/707 is already in lwaftr_starfruit as commit 5528edbae217d22a6cab52d638e4e88574e98530

[2016-05-03 12:40] kbara commented on #305
https://github.com/snabbco/snabb/pull/783 is already in lwaftr_starfruit as commit 940dc86027e2f71ed291aa9afe717bd278971570

[2016-05-03 12:42] wingo commented on #305
- [x] https://github.com/snabbco/snabb/pull/909

[2016-05-03 12:47] kbara commented on #305
291 is absolutely essential, and 294 is moderately important. Definitely both worth it.

[2016-05-03 13:20] kbara commented on #305
snabbco#827 and  snabbco#866 backported via https://github.com/Igalia/snabb/pull/307

[2016-05-03 13:23] wingo commented on #305
#291 via https://github.com/Igalia/snabb/pull/306#issuecomment-216524166

[2016-05-03 13:30] dpino commented on #305
#294 via #308

[2016-05-03 15:32] dpino commented on #305
#311 via #304:
- #304 is a backport of #909 to `lwaftr` branch.
- #311 is a backport of #304 to `lwaftr_starfruit` branch.

#311 includes all commits from #304 except the "with_restart" commit.

[2016-05-03 16:45] wingo commented on #305
Whew, done; tagged as v2.4.  Thank you both, @dpino and @kbara!

[2016-05-03 16:45] #305 closed, assigned to nobody

[2016-05-17 10:53] dpino opened #325 "Error creating channel"
Sometimes when running the tests (sudo make tests), the end-to-end tests failed because of an trying to create a file that already exists:

**testlog/program.lwaftr.tests.end-to-end.selftest.sh**

[code]

[2016-05-17 11:13] dpino commented on #292
Solved in #294.

[2016-05-17 11:13] #292 closed

[2016-05-17 11:15] dpino commented on #288
SnabbBot has been deployed in our servers for some time now and it seems to be working fine. Closing this issue.

[2016-05-17 11:15] #288 closed

[2016-05-17 11:16] dpino commented on #325
Duplicate of #268

[2016-05-17 11:16] #325 closed, assigned to nobody

[2016-05-17 11:21] dpino commented on #160
Solved in #297.

[2016-05-17 11:21] #160 closed

[2016-05-17 22:01] domenkozar commented on #259
FYI: https://github.com/snabblab/snabblab-nixos/issues/13 is now fixed

[2016-05-19 11:36] kbara opened #334 "Re-add the NDP secondary address test"
https://github.com/Igalia/snabb/pull/318/files makes some very important changes, but deletes a test. I think the test should be re-instated (with the expected result changed to match the semantics of 318), as a light future-proofing against someone innocently making a seemingly-obvious extension to secondary IPs that breaks the NDP semantics that we actually want.

[2016-05-27 07:54] kbara opened #342 "Measure throughput as a function of packet size"
Infer raw performance from this.

[2016-06-06 10:24] wingo opened #352 "`snabb lwaftr loadtest` should be able to find the maximum load at which there is X% of loss over T time"
`snabb lwaftr loadtest` should be able to find the maximum load at which there is X% of loss over T time.

An algorithm to find this out would be to ramp up from zero to some point where it starts dropping, and then stay there and only ramp up farther if dropping stops.  We could limit this process to some duration.

[2016-06-09 10:43] kbara opened #357 "Intermittant bus error; Snabb refuses to run again until /var/run/snabb is cleared"
Every once in a while, Snabb has a bus error. After this error occurs once, it occurs every time Snabb is run with certain commands (such as `snabb lwaftr check`, but not `snabb gc` or `snabbmark`)

The error, triggered from the lwaftr's end-to-end.sh tests, ends up looking something like this:

`5623 Bus error               (core dumped) ${SNABB_LWAFTR} check $1 $2 $3 ${TEST_OUT}/endoutv4.pcap ${

[2016-06-09 16:41] wingo opened #359 "Forward-port features from the v2.9 release to lwaftr"

[2016-06-14 09:11] lukego commented on #357
Bus error can be easier to diagnose when you know which instruction triggers it. I usually run the process in GDB and get a backtrace. (If the instruction is in JIT code then I suppose you need `-jdump` to match the instruction address.)

I have also noticed on lab servers that `Segmentation fault` errors generate a syslog entry that includes the instruction pointer, faulting address, and insightf

[2016-07-06 09:45] dpino opened #365 "Do not use timers to implement NS requests and retries"
Luke suggested in https://github.com/snabbco/snabb/pull/945/#issuecomment-227079544 to not rely on timers to implement data-plane logic.

Redo Neighbour Solicitation requests, as well as NS retries, following Luke's guidelines.

[2016-07-08 10:35] kbara commented on #365
We should make ARP use this approach too (right now, it has no retries).

[2016-07-12 12:50] dpino commented on #365
Implemented in #368.

[2016-07-14 14:48] #365 closed, assigned to dpino

[2016-08-02 08:18] wingo commented on #359
Are we missing 432a4c1ae497049efd3f84bc8138b5ff3964def2 ?  It's part of 2.4 but I don't see it on lwaftr already.

[2016-08-02 08:24] dpino commented on #359
We have refactored how NDP and ARP retries work. Now in lwaftr branch NDP retries don't use timers. This commit is not necessary.

https://github.com/Igalia/snabb/commit/9e86b23880b2dab4013cbf66d174469588bc12d8

[2016-08-02 08:35] wingo commented on #359
OK then it looks like this bug is covered by #371 #372 #373 #374 then, thanks :)

[2016-08-03 10:22] wingo commented on #359
done, thank you @dpino

[2016-08-03 10:22] #359 closed, assigned to nobody

[2016-08-16 15:53] kbara opened #393 "IPv6 reassembly + new packet definitions failed (solved: added a new packet clone method)"
tl;dr: IPv6 reassembly worked on the private development branch, but when rebased onto the public branch exactly one test case mysteriously failed. This was due to a way of copying packets that doesn't work with our newly enriched packet structure. Fixed in https://github.com/snabbco/snabb/commit/edf6ef3224becd0fc1a47a45507932d180c60047

---

The mystery of the failing IPv4 fragmentation test case

[2016-08-22 05:47] #393 closed, assigned to nobody

[2016-08-30 11:28] kbara opened #407 "Things to bear in mind while upstreaming struct packet changes"
- The 'headroom' abstraction or the size of the underlying data buffer has to change. (Either the data buffer becomes 10k+max_headroom, or we export the size as 10k-max_headroom), to avoid introducing buffer overflows.
  -- Rationale: code which does bounds-checking on the constant representing the 10000 byte payload size otherwise needs to be headroom-aware. Merely using functions like packet.app

[2016-08-30 15:11] lukego commented on #407
Just want to promote my pet idea that might support headroom without modifying the packet struct:

Could allocate memory for packets on a 512-byte aligned address and then put the `struct packet` at `address+256`. Then you would have 256 bytes of both headroom and tailroom. You could relocate the packet left or right by simply copying the non-data portion of the `struct packet` in place and return

[2016-08-30 15:56] kbara commented on #407
In practice, I think that's more or less the form we all want; the above issue is largely about documenting features to avoid in our current implementation as we move towards upstreaming something that fills this conceptual space. The point about exported buffer capacity needing to be smaller than the symbolically exported one to avoid buffer overflows regardless of the current amount of headroom/

[2016-08-30 16:01] dpino opened #409 "Crash on hairpinning path"
How to reproduce:

Run lwaftr

[code]

Flush packets to v6 interface with packetblaster

[code]

Actual result:

[code]

Expected result: lwAFTR decapsulates packets coming from IPv6 rx.

If hairpinning = false in lwaftr.conf it works:

[code]

Data files:

**lwaftr.conf**

[code]

**binding_table.txt**

https://people.igalia.com/dpino/lwaftr/binding_table.txt

**ipv6 packet**

$ tcpdump -qns 0 -e

[2016-08-30 18:08] kbara opened #412 "All 'snabb lwaftr' apps should be run by CI"
It can be a token test to just make sure they do something trivial without crashing, but it should be run on every pull request. Being able to do this even when they require hardware is one reason we moved to snabbbot from travis-ci.

[2016-08-30 18:50] dpino commented on #412
Snabb-bot runs all selftest.sh scripts in the code base and all Lua files which contain a selftest function. It actually runs several lwAFTR apps, but only those ones which contain a selftest. For instance:

[code]

https://gist.github.com/lwaftr-igalia/c64c25845f7a13c9bf7822c4feddf033

[2016-08-30 18:55] kbara commented on #412
Yeah, that's not good enough - the test suite should be testing more, including the front ends, not just random unit testy bits.

[2016-08-30 20:38] kbara commented on #409
The binding table is bogus (the following conf file and binding table are the ones above):

[code]

[2016-08-30 20:42] kbara commented on #409
02:00.1 is not wired to  82:00.1.

[2016-08-30 20:46] kbara commented on #409
The pcap does not have a corresponding entry in in the default binding table we test with, either; see https://github.com/Igalia/snabb/blob/issue409-testing/src/program/lwaftr/tests/data/counters/regression-crash-hairpinning-ipv6-issue409.lua

[2016-08-30 20:47] kbara commented on #409
... and the pcap itself is bogus - it has an invalid checksum.

[2016-08-30 21:26] kbara commented on #409
This is a high priority bug, but it is literally impossible to reproduce with the information given, or reasonable modifications to it: the binding table doesn't even parse (and its contents don't reflect the pcap - the b4 addresses in the packet and the config file only match up for one of the two softwires, etc, etc), the command lines are inconsistent with each other, and the pcap itself is an

[2016-08-31 22:04] dpino commented on #412
Besides the Lua unit tests, Snabb-bot also runs all selftest.sh scripts in the code base. This is useful for writing more sophisticated tests, for instance tests that run a Snabb tool, setup a VM, run system tools, etc (an example of a test like this is the SnabbNFV test).

If we extended Snabb-bot to parse all the tools in program/lwaftr and simply run them, likely the output would be the help of

[2016-09-04 13:28] mwiget opened #421 "apps/socket/raw.lua:119: Message too long"
apps/socket/raw.lua:119: Message too long
stack traceback:
        core/main.lua:130: in function <core/main.lua:128>
        [C]: in function 'error'
        apps/socket/raw.lua:18: in function 'assert'
        apps/socket/raw.lua:119: in function 'transmit'
        apps/socket/raw.lua:95: in function 'method'
        core/app.lua:84: in function 'with_restart'
        core/app.lua:332: in functi

[2016-09-04 16:24] mwiget commented on #421
Well, turns out this is a result of using large MTU's within snabbvmx while connecting to a linux interface with a default mtu of 1500. Not much can be done to catch this IMHO, other than making sure, the MTU of the linux interface is set accordingly before launching snabbvmx.

[2016-09-04 16:24] #421 closed, assigned to nobody

[2016-09-12 08:41] kbara commented on #412
Obviously we don't want to just run the tools with no arguments after automatically detecting they exist and get the help...
I agree that invoking the front ends from selftest.sh scripts is a reasonable mechanism. The point is that we have to _actually do that_.

[2016-09-13 06:10] dpino commented on #409
Tested in `lwaftr` branch. Same result as reported earlier. Here's the right data:

**ipv6.txt**

[code]

**binding-table**

https://people.igalia.com/dpino/lwaftr/binding_table.txt

**lwaftr-tests.conf**

[code]

Run packetblaster:

[code]

Run lwaftr:

[code]

Sometimes the lwaftr stops without stacktrace. In that case reports status code 139. Try running several times until it prints a stacktra

[2016-09-13 12:11] mwiget opened #438 "snabb lwaftr terminates with code 139 (segmentation fault) for binding mismatch"
Running snabb lwaftr on-a-stick from branch igalia, last commit from Sep 12th, sending traffic for 60000 correct v4 and v6 binding entries works fine.
As soon as I send traffic for 60001 bindings, resulting in 1 mismatch, snabb lwaftr terminates with error cod 139, without reporting any other messages. Happens every time and always silent:

[code]

The binding file (plus the config file are in the

[2016-09-15 10:57] dpino opened #441 "Detecting memory errors with lwaftr check"
I've been thinking on how to detect memory errors.

Bugs #439 in #437 were due to memory errors. Our test suite included tests for these cases but since the end-to-end test only sends one packet these memory errors were not triggered. To trigger these errors it would have been necessary to send the same packet several times.

Instead of creating specific datasets with the same packet repeated seve

[2016-09-16 05:56] kbara commented on #441
Yep.... that's one of the reasons why I've repeatedly said we should run overnight tests (and on mixes of packets, not just one repeated 50 times or something), and keep talking about needing more test coverage.

[2016-09-19 07:28] dpino commented on #441
Implemented in #443

[2016-09-19 08:24] #438 closed, assigned to dpino

[2016-09-19 13:19] #409 closed, assigned to nobody

[2016-09-19 17:43] #441 closed, assigned to nobody

[2016-09-19 18:00] dpino opened #445 "Remove old benchmarking tools"
`lwaftr/tests/end-to-end/` folder contains old benchmarking utilities which are no longer used AFAIK:
- benchmark-end-to-end.sh: Was a copy-paste of `end-to-end.sh` tests which run with the `apps/lwaftr/benchmark.lua` script instead.
-  benchmark-pcaps.sh: Similar to `benchmark-end-to-end.sh` but runs in one test case.
-  benchrun.lua: Runs a command N times and prints out some stats (average, sta

[2016-09-20 15:53] wingo commented on #445
On Mon 19 Sep 2016 20:00, Diego Pino notifications@github.com writes:

SGTM.

Andy

[2016-09-21 11:40] mwiget opened #448 "snabb snabbvmx top reports wrong ifInDiscards"
Running tag lwaftr-snabbvmx-v1.0, though have seen the issue previously too.

the counter taken for ifInDiscards wrongly increments for Total and per Second:

[code]

The actual value of rxDrops on PCI is very low:

[code]

The problem is actually also seen in

[code]

[2016-09-21 15:49] #448 closed, assigned to dpino

[2016-09-22 10:21] mwiget opened #451 "allow empty binding table for snabbvmx lwaftr"
With snabbvmx configuring snabb via YANG, it is ok to define a br (aftr) instance but without providing a single binding entry. Right now, snabb terminates with the following error when given a binding file like this:

[code]

Error message:

[code]

IMHO the correct behavior is to keep running, report empty bindings and generate ICMP messages according to the config.

Content of the example cfg a

[2016-09-22 11:56] kbara commented on #445
Probably for the best. Is the idea to then have to run the full hydra performance testing suite to get these numbers?

[2016-09-23 11:35] #451 closed, assigned to dpino

[2016-09-23 14:11] chrgraf opened #453 "reassembly of fragmented lwaftr packet:apps/lwaftr/fragmentv6_hardened.lua:158: Impossible case reached in v6 reassembly"
Dear all,

I am running snabb lwaftr-snabbvmx-v1.0 standalone. While testing IPv6 reassembly, snabb cores with "apps/lwaftr/fragmentv6_hardened.lua:158: Impossible case reached in v6 reassembly"

Issue is reproducible in mine lab.
# How to reproduce

typically it is enough to send <20 fragmented  packets to lwaftr for a valid binding-entry. In mine case I am sending 10 times below valid fragmented

[2016-09-24 15:49] kbara commented on #453
To my great surprise, this is actually fixed by the work I did to fix the upstream Snabb definition of ntohl/htonl, before I looked into this bug. https://github.com/snabbco/snabb/pull/1024 has the gory details.

Specifically, get_frag_id is implemented this way:

[code]

ntohl was returning a sign-extended 64 bit number: `ffffffff88f416c6`, while the reassembly buffer's cached version is an unsig

[2016-09-24 15:53] kbara commented on #453
To be entirely clear: the problem isn't the number of packets to reassemble, the problem is a broken implementation of ntohl causing problems for packets which have their high bit set after ntohl.

[2016-09-24 15:55] kbara commented on #453
Also: thank you for the excellent bug report, and clearly presenting the information to reproduce it. May I add the pcap to our test suite?

[2016-09-26 06:09] chrgraf commented on #453
Hi Katerina,

Many thanks for this quick fix and your support. Much appreciated

Thanks

Christian

---

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergericht / Commercial registry: München, HRB 205571
Gesch

[2016-09-26 12:41] kbara commented on #453
Welcome, Christian. Any version of the lwaftr >= git revision  e72231b8057d6cf2ff72b0de79b21e043429826c should now be ok with regards to this bug. :-)

[2016-09-26 12:41] #453 closed, assigned to kbara

[2016-09-26 19:45] chrgraf opened #457 "snabbvmx - forwarding of IPv4 fragments while fragmentation being turned off"
Dear all,

I am testing IPv4 reassembly with lwaftr-snabbvmx-v1.0.
Fragmentation/reassembly is being turned off in snabb and my expectation is, that any fragmented IPv4 PDU shall be discarded at lwaftr.
Observed results are different - first-frag is being forwarded and second-fragment is being forwarded to incorrect tunnel.
Issue is reproducible in mine environment.

I am testing this with snabbvm

[2016-09-26 23:44] kbara commented on #457
It was a design mismatch, explained at https://github.com/Igalia/snabb/pull/460 (which conceptually fixes the issue, and passes the old test suite, but hasn't been run through direct testing of the new codepaths yet.)

[2016-09-27 08:25] dpino opened #462 "Create test case for forwarding of IPv4 fragments while fragmentation being turned off"
SnabbVMX allows fragmentation disabling. Add test cases for packet fragments with fragmentation disabled. Related with https://github.com/Igalia/snabb/issues/457 and https://github.com/Igalia/snabb/pull/460.

[2016-09-27 08:56] chrgraf commented on #453
Hi Katerina,

I verified your fix in in version 1.01 and it works like a charm. thanks

[2016-09-27 09:05] kbara commented on #453
Glad to hear it. :)

[2016-09-27 10:51] kbara commented on #457
#460 is in the lwaftr tree, from 373d6c0ba4b7255ab06da4f2e930da25e7ddcfe0 onwards.

[2016-09-28 10:13] chrgraf commented on #457
Dear all,

during verification of this issue I faced two other cores. Kindly have a look into it.
If I shall open a new issue on github, kindly let me know.

## steps

first checking that reassembly works fine and we have a valid binding-table. Sending 2 packets, each consisting of two frags. As seen, reassembly works nicely:

[code]

now disabling fragmentation by replacing true via false for fra

[2016-09-28 11:29] teknico opened #463 "Handle stdout in a non-conflicting way overall"
Need: using CSV stats generated by the `bench` lwAftr command.
Status: the `bench`, `run` and `transient` lwAftr commands emit CSV stats to `stdout`.
Conflict: the binding table code emits log messages to `stdout`, interfering with the CSV stats.

Proposal 1: make the mentioned commands emit CSV stats to a file, whose path is passed on the command line.
Proposal 2: make the binding table code emit

[2016-09-28 16:28] dpino opened #467 "Initial 16 bits of next-hop MAC addresses in snabbvmx are corrupt"
- [ ] The nexthop MAC address that are coming from the VM got their first 16-bit corrupted. Nexthop selftest only matches the last 32-bit. Fix it.
- [X] Nexthop selftest  is the only user of `snabbvmx nexthop` program, which uses to retrieve nexthop MAC address. Snabbvmx query gives that information too, so the nexthop app can be removed.

Related with https://github.com/Igalia/snabb/pull/465.

[2016-09-28 16:50] wingo commented on #463
Let's start with (2) :)

[2016-09-29 11:21] teknico commented on #463
Unfortunately the whole codebase is strewn with calls to `print` (`stdout` only), and even `io.stdout:write`, not conditioned by debug flags, so using `stdout` for uncorrupted data output is a lost cause right now. :-(

Proposal 2 would entail a deep change of paradigm for both our code and the whole app, a huge, sprawling patch, and a prolonged fight with upstream: it seems more effective to go w

[2016-09-29 14:34] kbara commented on #457
Both issues are due to something like a typo - I'd written 'self' when I needed to write 'lwaftr' as a prefix for the counter lines, which is fixed in https://github.com/Igalia/snabb/commit/030a86466c79855c72b3b7ce72021ec773fc92e5 - sorry about that. Extending our test suite to properly deal with the original bug report is a somewhat involved process.

[2016-09-30 07:53] chrgraf commented on #457
Dear Katerina,

Many thanks for having this fixed. I have verified your fix successfully, please see: https://github.com/Igalia/snabb/pull/470

As now turning reassembly turned off ("fragmentation = false,")  works as expected, we can close this issue as being resolved as well.
Expected means by discarding the frags instead of forwarding

[code]

thanks

christian

[2016-10-05 16:02] mwiget opened #476 "nh_fwd cache refresh packets need entropy"
When testing a single flow over several snabb instances  via ECMP, the vMX will use hash method to decide over which egress interface to send the cache refresh packet it has received from any of the Snabb instances. If this is just a single flow from the same IP source/destination pair, it will always pick the same one, which can be different from the one it has received it.
While not strictly a p

[2016-10-14 14:07] tsyesika opened #482 "Introduce named programs to Snabb"
This is a downstream post of: https://github.com/snabbco/snabb/issues/1033 the work will occur here first and then be upstreamed.

[2016-10-14 16:00] dpino opened #485 "Replace print_ethernet and print_ipv6"
Likely these functions can be replaced or implemented using ethernet:ntop and ipv6:ntop.

[2016-10-14 17:02] dpino opened #486 "Nexthop selftest exits with 0 when test was skipped"
Should return a SKIPPED status code instead (exit code 43).

[2016-10-14 20:49] chrgraf opened #487 "snabbvmx does not honor mtu setting"
Dear all,

when testing vmxlwaftr I am facing issues with the MTU setting.

Both vmxlwaftr and snabbvmx ignore the 9000 MTU setting (junos config at end of this report) and encapsulate IPv4 frames with a size of 9042byte
I checked with lwaftr standalone and it behaves as expected - bytes larger as the configured 9000MTU are being dropped.
# topology

ubuntu2-90:e2:ba:94:2a:bc---------02:cf:69:15:8

[2016-10-15 05:19] mwiget commented on #487
I introduced this regression by setting the physical interface mtu to DEFAULT_MTU = 9500. This was done under the (wrong) assumption, that ipv4_mtu and ipv6_mtu will be honored by the lwaftr app. Though turns out, that is done by the fragmentation app only, which is mandatory for the lwaftr program, but optional for snabbvmx.

I'm working on a pull request to automatically calculate the MTU for th

[2016-10-16 17:54] mwiget opened #489 "snabbvmx ignores vlan settings in .conf file"
Trying to get vlan support in snabbvmx working, based on the test case example https://github.com/Igalia/snabb/tree/lwaftr/src/program/snabbvmx/tests/end-to-end/data/vlan

Using the following config files:

snabbvmx-lwaftr-xe1.cfg:

[code]

snabbvmx-lwaftr-xe1.conf:

[code]

Running lwaftr standalone works as expected:

[code]

To generate vlan traffic, I've used this:

[code]

But when running sn

[2016-10-17 07:02] kbara commented on #457
Closed, as we now have SnabbVMX tests (thanks @dpino) and via a reminder by @chrgraf . :-)

[2016-10-17 07:02] #457 closed, assigned to nobody

[2016-10-17 10:00] dpino commented on #487
Fixed in #488.

[2016-10-17 10:00] #487 closed, assigned to nobody

[2016-10-17 10:22] chrgraf commented on #487
Many Thanks Diego

Christian

---

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergericht / Commercial registry: München, HRB 205571
Geschäftsführer / Directors: Johannes Albers, Stephen Byrne, Terrance Floyd

[2016-10-17 11:35] dpino commented on #489
I think I figured out what's going on.

VLAN tag values from lwAFTR's conf are only considered in SnabbVMX if V4 and V6 VLAN values are different. Cases:

1) lwAFTR in on-a-stick mode. It works, VLAN values are always considered.
2) SnabbVMX with Snabbvmx's conf VLAN not set but set in lwAFTR's conf with same V4 and V6 values (ignored).
3) SnabbVMX test case. It works because V4 and V6 VLAN values

[2016-10-17 15:52] dpino commented on #462
Fixed in #475

[2016-10-17 15:52] #462 closed, assigned to dpino

[2016-10-17 16:19] dpino commented on #486
Fixed in https://github.com/Igalia/snabb/pull/497

[2016-10-17 17:20] #485 closed, assigned to dpino

[2016-10-18 08:45] #486 closed, assigned to dpino

[2016-10-18 10:10] #489 closed, assigned to dpino

[2016-10-18 10:16] dpino commented on #445
If we want Hydra to run these benchmarks we would need to rework them, because I think at this moment these tests cannot be run (they code is broken).

We only paid attention to these tests while developing the prototype, and actually we shortly stop use them as a means to improve performance, that's when "lwaftr bench" landed. I'm all in for removing these code, specially since we're planning to

[2016-10-18 10:24] #445 closed, assigned to nobody

[2016-10-18 10:42] dpino commented on #290
I was trying to reproduce it but I cannot. The issue is that there's no "tcpdump" in NixOS. I used "packetblaster replay" instead, but it finishes with a crash after a while (the .pcap file is too big, more than 5e5 packets):

[code]

I tried with a much smaller file, and it works. Would be interesting to know if the issue still applies.

[2016-10-18 10:54] kbara commented on #290
I'd be surprised if it did, given that I hardened (and completely rewrote) reassembly, but if it did, that would certainly be very important.

[2016-10-18 11:02] teknico commented on #290
@dpino, `tcpdump` is packaged in NixOS, here's the definition: https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/networking/tcpdump/default.nix

[2016-10-19 08:38] dpino commented on #290
@teknico Sorry, I meant "tcpreplay". Do you know if it's available in NixOS? I cannot find it with "nox" or "nix-env".

[2016-10-19 08:59] teknico commented on #290
@dpino, no, I cannot find it on http://nixos.org/nixos/packages.html either.

[2016-10-19 09:15] wingo opened #499 "Clean up branches"
We have lots of stale branches in this repo.  I propose to remove all of them except `lwaftr` and any branch for an open PR.  We will also keep `lwaftr_starfruit` until we are no longer supporting users on that branch.  Historical releases are just as well taken from tags than branches, and tags don't clutter the "make a PR" UI.

[2016-10-19 09:23] teknico commented on #499
Yes, please.

[2016-10-19 09:35] kbara commented on #499
+100000000000

[2016-10-19 09:40] wingo commented on #499
I took a look at the branches and here is how I see things.  Check the "to-delete" set to see if anything you care about is there.

## Keep, main dev branch
- https://github.com/Igalia/snabb/tree/lwaftr

## Keep, legacy release branch

Remove when we migrate users to a new release branch
- https://github.com/Igalia/snabb/tree/lwaftr_starfruit

## Keep, active PR on Igalia/snabb
- https://github.co

[2016-10-19 09:53] kbara commented on #499
LGTM

[2016-10-19 10:07] wingo commented on #499
Done, tx for review to you both.  Probably now you want to `git fetch --prune Igalia` or something.

FWIW the deleted heads are:

Branch 2-8-backports:
- 562fb0f8954ea7e8ba63037bf54b7d93df2edf30 Change --cpu mentions to taskset/numactl

Branch add-lwaftr:
- 5c337d0750bb87db7a99c81491816f43976cc82c Add lwaftr branch.

Branch apps:
- 004036e9e29876464b539c87a68fae895f04db28 Merge branch 'igalia' int

[2016-10-19 10:07] #499 closed, assigned to nobody

[2016-10-20 09:33] dpino opened #503 "Get rid of "lwaftr generator" and use "packetblaster lwaftr" instead"
`lwaftr generator` is a tool for generating traffic for lwaftr softwires. After the latest changes the tool is broken. I got a fix for that but it needs more work (after the fix IPv6 packets are not generated OK). Point is, everything this tool does can be done with `packetblaster lwaftr`.

`packetblaster lwaftr` generates traffic for lwaftr softwires too. It can print out its output to a pcap fil

[2016-10-20 09:39] mwiget commented on #503
Sounds good. Consider the request for other packet sizes than IMIX as already done:

packetblaster lwaftr has a knob (--size) to specify a comma separated list fo packet sizes.
@[https://github.com/Igalia/snabb/blob/lwaftr/src/program/packetblaster/lwaftr/README#L25-L32](url)

[2016-10-20 09:40] wingo commented on #503
SGTM as well, nice idea.

[2016-10-20 12:59] dpino commented on #467
My findings so far on this bug:
- I printed out packets as they arrive at several code checkpoints. The relevant bit here is that packets arrive to the VM as they were originally sent and leave with the right destination MAC, but VirtioHost driver receives the packet with the destination address already garbled.
- Refreshment packets are sent to the VM once they are resolved by the service (lwAFTR

[2016-10-20 13:32] kbara commented on #407
I'm closing this, as it's resolved with @wingo 's implementation of @lukego 's idea.

[2016-10-20 13:32] #407 closed, assigned to nobody

[2016-10-20 14:02] blourdel opened #504 "lwaftr : configuration with vlan ignores mtu setting"
In a lwaftr  setup with vlan configured for ipv4 and ipv6 traffic, 1519B packets are dropped while smaller packets are processed (1518B works) regardless of the mtu setting. The behavior is the same with same or different vlan-id for ipv4 and ipv6.

I am running snabb lwaftr version v1.1.11

**How to reproduce**

While configuring vlan for both ipv6 and ipv4, send 1519Byte ipv4 or ipv4/ipv6 encaps

[2016-10-20 14:43] mwiget commented on #504
Which version of the container are you running? There is no tag v1.1, but v1.1.0, which is pretty old.
Ideally you run https://github.com/mwiget/vmxlwaftr/blob/igalia/tests/collect-support-infos.sh against the running container, which collects all required files for reproduction (and version checking).

[2016-10-20 14:51] blourdel commented on #504
Hello,

I am running container version v1.1.11.
I am attaching the support info here:
[support-info-20161020-0347.tar.gz](https://github.com/Igalia/snabb/files/541999/support-info-20161020-0347.tar.gz)

[2016-10-20 15:27] dpino commented on #504
I run the test case in lwaftr-snabbvmx-v1.1 and development branch and I couldn't reproduce the bug in either cases. I run lwAFTR on-a-stick since there's no .cfg file pasted. I looked in the .tar and there are many .cfg and .conf files. I grepped "44:f4:77:bc:c5:cf" to get .conf file pasted in the bug report and figure out its correspondent .cfg file, but I couldn't find a .conf with that mac in

[2016-10-21 06:39] mwiget commented on #504
@blourdel Thanks for the tar file. I used the snabb binary from that file in my lab setup with a cross-over cable, adjusted the mac address and PCI address in test_snabb_snabbvmx_xe0.sh and ran it, leaving the .conf and .cfg file as is:

[code]

[code]

Then I created the following packet generator and can pass packets > 1500 just fine. Using 2000:

[code]

This produces the following output:

[co

[2016-10-21 08:30] blourdel commented on #504
I close this problem report. A switch in between snabb and the packet generator had a "by-default" mtu set, dropping packet over 1518. I confirm that vlan configuration are supporting large packet sizes.

[2016-10-21 08:30] #504 closed, assigned to nobody

[2016-10-21 14:50] teknico commented on #503
Fixed by #508.

[2016-10-21 14:50] #503 closed, assigned to teknico

[2016-10-21 15:24] wingo opened #510 "Migrate lwAFTR to Yang configuration"
With the `yang` branch we will be migrating the lwaftr to YANG configuration, using the schema that currently lives at `src/apps/lwaftr/snabb-softwire.yang`.  Here is a random quick braindump of things to do.
- [x] Define a place for all yang schemas in the snabb source tree
- [x] Compile yang schemas into snabb binary
- [x] Allow yang schemas to be required by name via "require('yang.module.ietf-

[2016-10-24 10:28] teknico commented on #463
Fixed by #468 and #472.

[2016-10-24 11:07] #463 closed, assigned to dpino, kbara, wingo

[2016-10-27 06:49] dpino commented on #476
I have been working in this bug for a while. I have some doubts I'd like to clarify.

My understanding is that either the IPv4 destination port of an IPv4 packet as well as a IPv4-in-IPv6 packet gets overwritten by a random value. Overwriting the port on a TCP packet implies to recalculate the TCP checksum, which involves building a pseudo-header. UDP packets can have their checksum set to zero, s

[2016-10-27 08:28] blourdel opened #516 "crash with empty binding table + traffic"
A empty binding table is created by the vmx as the binding table file referenced does not exist.
set ietf-softwire:softwire-config binding br jnx-aug-softwire:binding-table-file binding_table.txt

Version : lwaftr v1.1.13

At this stage snabb does not crash and starts with the following log

cp: /var/db/scripts/commit/binding_table.txt: No such file or directory
md5sum: binding_table.txt: No such

[2016-10-27 08:44] wingo opened #517 "Compiled format for Snabb configurations"
So, we want to model the configuration of Snabb applications and particularly the lwAFTR using YANG schemas, and therefore express the configuration for the lwAFTR in data that conforms to a particular YANG schema.  Great.

However for the lwAFTR we also need to compile the configuration to a binary format.  This is necessary because the binding table can be very big and building and validating it

[2016-10-27 08:59] wingo commented on #517
Let's do a partial evaluation of that compiler with respect to the Snabb softwire schema :)  Here's the schema for what the lwaftr currently does:

[code]

In particular we want to see if the binding table as specified in YANG will compile down to a ctable.  Currently it won't do the right thing I don't think because the padding is not specified as part of the key.  Interesting though that @xray72

[2016-10-27 09:14] wingo commented on #517
Finally I should mention the configuration syntax for a lwAFTR configuration based on a YANG schema.  What is above is the schema; we need a syntax for data.  We propose to just use YANG for that as well, as it is a very pleasant syntax, and that way we can avoid JSON and XML problems.  Since we use the standard generic YANG data model, we should be able to directly build mappers from the YANG dat

[2016-10-27 09:52] wingo opened #519 "Deriving data syntax from schema"
Hi :)  Following on from #517, we need to specify more about the grammar of config files for a given YANG schema.  We start from the base that the lexical syntax of the file is precisely YANG, specifically a sequence of YANG statements, where a statement in ABNF is:

[code]

This is from RFC 6020.  OK but what statements are valid and what do they mean?  That's the problem I want to attack here: h

[2016-10-27 09:56] wingo commented on #519
Obviously `mandatory` informs whether or not a leaf node is required to be present in the data, also.

[2016-10-27 13:46] mwiget opened #520 "apps/lwaftr/nh_fwd.lua:126: variable 'ipv4_header' is not declared"
upgraded snabb to commit 33d941b 'Add SnabbVMX manual' and run into an issue when using the vMX for next hop resolution. The problem disappears when using static next_hop_mac.

[code]

[code]

[2016-10-27 15:08] wingo commented on #519
I have this working!  Will push soon.  This gets me close to having a compiler.  Right now it derives a data parser from the schema but it should derive a grammar and then make a parser and a compiler from the grammar I guess.

[2016-10-27 15:35] dpino commented on #520
I realized about that a few days ago and pushed a PR (#513). The problem was that CI tests are failing now. The SnabbVMX selftests are failing when run inside a container.

We have run the tests manually in #513 and it's merged now. The issue should be fixed now.

[2016-10-27 15:36] dpino commented on #520
I wait for your confirmation before closing the issue.

[2016-10-27 15:48] dpino opened #522 "Fix SnabbVMX tests"
SnabbVMX selftests are failing when run inside a container. Besides that, the tests rely on the `screen` command which is not present by default in Snabb's testing VMs, so when this branch gets merged into upstream the tests will fail. It's necessary to:
- Rewrite the tests in order to get rid of `screen` command.
- Make the tests pass when run inside a container.

While this issue is not close, s

[2016-10-27 15:58] mwiget commented on #520
@dpino, thanks for the explaining and subsequent fix. I confirm this issue to be resolved when I upgraded to commit bd3811f.

[2016-10-27 15:58] #520 closed, assigned to dpino

[2016-10-28 06:17] dpino commented on #522
Fixed in #523

[2016-10-28 18:33] #522 closed, assigned to dpino

[2016-10-30 22:54] dpino opened #527 "Crash caused by packet allocation overflow"
How to reproduce:

[code]

Possibly same cause as #516

[2016-10-30 23:22] dpino commented on #516
I got a  `packet allocation overflow` in #527. Possibly same cause as described in this bug report. The issue is fixed in #528.

With regard to the error:

[code]

Usually this error happens when a resource (NIC 0000:80:00.0) is already in use. Make sure there's no other snabb process running on a NIC before run a new snabb process.

[2016-10-31 17:06] tsyesika opened #529 "Snabb config derive data format command"
This issue is to provide a mechanism to see a YANG description of a data file based upon the corrisponding schema file. This would be achived by adding a command to the `snabb config` program which where a user could specify the module and the program would look up and parse the schema, derive the grammar and finally display descriptive YANG formatted data format.

The main use case for this would

[2016-10-31 17:24] wingo commented on #529
Hi!

For me I would indicate lists by appending "...".

See https://github.com/Igalia/snabb/blob/8c8dc727b0ded04be1899412c766bebd9530345d/src/lib/yang/README.md for some more discussion about this case.  In particular I don't think there's a need for an outer `snabb-simple-router {}` wrapper; wdyt?

[2016-10-31 17:25] wingo commented on #529
Another possibility is to embed comments!  Maybe that can help.

[2016-11-01 13:14] chrgraf opened #530 "snabbvmx end-to-end.sh -r does not regenerate counters correctly"
Dear all,

I am trying to get further end-to-end tests added to snabbvmx. I am using the latest lwaftr version:

[code]

When running lwaftr end-to-end.sh -r for **lwaftr**, I am seeing that the counter-file does get populated correctly:

[code]

However, when doing the same for **snabbvmx**, then the corresponding counters file does not get populated correctly.
upfront I am seeing at least one di

[2016-11-01 16:54] wingo commented on #517
Currently working on this in https://github.com/Igalia/snabb/tree/compiled-yang.  I have the compiler for the tagged containers; will work on the loader and untagged containers tomorrow.

[2016-11-02 09:28] wingo commented on #519
I want to add a restriction: for the `leaf` associative data type, I only want to support _either_ raw tables (following the sketch-of-a-definition in #517; basically, anything that maps to a ctable) or strings as keys.  In the former case we get to use ctable as the data type, and it supports multiple keys.  In the latter we have normal Lua tables.

It would be possible to support later a version

[2016-11-02 15:02] chrgraf opened #533 "lwaftr does not generate icmpdest-unreachable for traffic non-matching binding-table"
Dear all,

I am triggering a corner-case when testing the icmp-dest-unreach generation of lwaftr.
Depending on the traffic-pattern, the generation of icmp-dest-unreachable works or does not work.

Its a combination of
- proto (udp/icmp)
- if public IP is listed in the binding-table

**issue**
If the lwaftr receives an IPv4 icmp-echo-reply from internet, while the dest IPv4 is listed in the binding

[2016-11-03 08:18] wingo commented on #533
Thanks for the excellent report; we'll get on this.

[2016-11-03 10:01] chrgraf commented on #533
Many thanks.

after further looking into it, it seemed I have to rephrase the above.
While I thought it is PSID-related, with todays testing of the same it just seemed to be proto-type related (ICMP or UDP). The influence of PSID it not seen in todays testing..

Please see below:

**sendp(e_b/v4_from_internet/reply_match,iface='p4p1')**
this is a valid packet matching the binding-table to verify p

[2016-11-03 16:21] wingo commented on #519
In the end no restriction was needed -- we can just compile generic tables to Lua tables, which don't have nice sublinear lookup for table keys but you can still do `for k,v in pairs(tab)` kinds of things.  See the note in #532.

[2016-11-03 16:21] wingo commented on #519
Closing as done in #532

[2016-11-03 16:21] #519 closed, assigned to nobody

[2016-11-03 16:21] wingo commented on #517
Done in #532.

[2016-11-03 16:21] #517 closed, assigned to nobody

[2016-11-04 04:42] #527 closed, assigned to dpino

[2016-11-04 10:05] chrgraf opened #534 "interactively running "snabb snabbvmx check -r"does generate an empty outv4.pcap"
Dear all,

I am running the "snabb snabbvmx check -r" interactively and the outv4.pcap is written empty. As the regenerated counters file is showing ["out-ipv4-packets"] = 2, the outv4.pcap shall have shown at least 2 packets instead of being empty.

**details**

**version**
[code]

**running the check**
[code]

**checking counters**
[code]

**checking outv4.pcap**
As the "out-ipv4-packets"] = 2,

[2016-11-04 10:41] wingo commented on #534
Thanks for the report :)

[2016-11-04 17:39] dpino commented on #534
@chrgraf It was a bug indeed (thanks for excellent report, it made easy to reproduce the bug), but not in the lwAFTR but in `snabbvmx check`. We were wrongly forwarding v4 outgoing packets to the v6 output (although packets didn't show up in the outv6.pcap).

If I used "lwaftr check" directly, the output was as expected:

[code]

[code]

However when using `snabbvmx check` there was nothing in `/t

[2016-11-04 18:09] dpino commented on #530
@chrgraf Thanks once again for the excellent report. It was indeed a bug. Fixed in #538 , the ticket also includes an explanation of what caused the bug.

[2016-11-04 18:12] dpino commented on #516
@blourdel #527 has been merged in lwaftr. Could you pull lwaftr branch and try to reproduce the issue again? Thanks

[2016-11-07 07:22] chrgraf commented on #530
Hi Diego,

many thanks for the fix resolution. Will verify asap once available.

thanks

christian

[2016-11-07 07:26] chrgraf commented on #534
Hi Diego,

thanks for the explanation and timely resolution. Once committed, I will have it verified and get it documented.

thanks

christian

[2016-11-07 08:06] #534 closed, assigned to dpino

[2016-11-07 08:42] chrgraf commented on #534
Good morning.

Just verified this fix. Its working like a charm.

**version**

[code]

**checking the fix**
With below test we expect two packets seen as IPv4 and one packet in ipv6 out.pcaps see the counters1.lua file.

[code]

**checking the resulting outv4.pcap**
Shall be two frames

[code]

**checking the resulting outv6.pcap**
shall be one frame

[code]

fix is doing fine. issue can be closed

[2016-11-07 09:17] wingo commented on #534
Thanks again for the excellent bug report @chrgraf, and thanks to @dpino for the fix!

[2016-11-07 09:19] #530 closed, assigned to dpino

[2016-11-07 09:32] chrgraf commented on #530
Dear all,

thanks for the fix. I just verified it and its working nicely.

**version**

[code]

**deleting the old counter-files**
We are making sure the old counter-files are being deleted - before trying to regenerate them

[code]

**running the end-to-end.sh test**
Launching the end-to-end.sh as described in the issue:

[code]

**checking if counters have been created correctly**
Diff is not sh

[2016-11-07 09:39] wingo commented on #530
Thanks again for the report @chrgraf and the fix @dpino :)  And apologies for closing these without comment; it seems that merging a PR whose summary has "Fixes #NNN" automatically closes the bug.   Thanks for being on top of the verification @chrgraf :)

[2016-11-07 12:38] chrgraf opened #542 "end-to-end.sh tests inconsistent counters"
Dear all,

the counters for "out-ipv[46]-packets within the end-to-end tests are non-consistent.

For out-ipv6-packets it does **_not_** count self-generated out-icmpv6-packets.
For out-ipv4-packets it does count the self-generated icmpv4 packets.

Not sure if this relates to issue #533

example
=======
[code]
As we can see in below generated counters file we have 2 * IPv6 packets out and 4 * IPv4

[2016-11-07 13:38] wingo commented on #542
Thanks for the report.  @teknico do you have time for this one?

[2016-11-07 13:43] teknico commented on #542
Yes, looking into it.

[2016-11-08 10:41] teknico commented on #542
I could reproduce the problem locally using the attached files, thank you @chrgraf. A fix is undergoing review in #547.

[2016-11-08 10:50] #542 closed, assigned to teknico

[2016-11-08 10:51] teknico commented on #542
Automatically closed by Github, feel free to make comments or reopen.

[2016-11-08 11:33] chrgraf commented on #542
Dear all,

again many thanks for quick resolution of the issue. Just verified it in the lab and its working nicely!

**version**

[code]

**running the check**

[code]

**checking counters ipv6**
Counters claim 5 packets sent out. This is correct, see tcpdump further down

[code]

many thanks for having this one resolved.
@teknico : thanks for the updated counter documentation as well!

thanks

ch

[2016-11-08 13:56] tsyesika opened #549 "Identify yang fragment by schema path"
There is an overarching goal of having a config program which can get, set, update and delete fragments of yang. The way to do this is to specify a path which will resolve to a specific node. The user then could also specify other attributes if it's for example a list to extract a specific item (for more detail on this see https://github.com/snabbco/snabb/issues/987)

This issue is to specifically

[2016-11-08 15:21] chrgraf opened #550 "end-to-end.sh - outputv6.pcap incorrect compared"
Dear all,

I am trying to add an test to test_env.sh which shall have its pass-criteria based on the counters-file opposed to the resulting out.pcap.

Given tests_env.sh entry:
[code]

**Expectation**
The test "ICMP Test - pass-critria out.pcap" as defined above shall ignore both resulting IPv4 and IPv6 pcaps and only check if the counters-file is matching.
If I have a misunderstanding here, then

[2016-11-09 09:11] wingo opened #552 "Figure out timeline for snabbvmx lwaftr configuration migration"
This is a bug that needs @mwiget :)  We are migrating the configuration of the lwaftr over to a standard YANG model.  This means that the configuration syntax changes, and that the configuration will incorporate the binding table as well.  We're still working out details.  In the meantime internally when we see an old configuration, we transparently migrate it to the new format.  Eventually we sho

[2016-11-09 15:15] mwiget commented on #552
@wingo, happy to look into it. For easier discussion, I migrated one of the smaller example configs I have and show it here. I have a few questions:

the config is now in a single file, which also includes mac addresses, which were previously given as arguments to snabb. Is snabb lwaftr now capable of reconfiguring itself beyond just the binding table?

I have an issue with including the mac addre

[2016-11-09 15:34] wingo commented on #552
Thanks for the feedback, Marcel.

Note that there are some fixes in https://github.com/Igalia/snabb/pull/557 so that configuration settings with their default value won't be printed in a migrated schema.

The lwaftr is not yet capable of reloading its configuration when anything changes (e.g. ingress filters).  I am not exactly sure what the final setup is going to look like there -- probably ther

[2016-11-09 15:40] mwiget commented on #552
I liked the separate binding file from the configuration parts, because it allowed me to detect changes in either or both of them and take appropriate actions: if only the binding table changed, send a SIGHUP to snabb, otherwise terminate it so it gets restarted. Done by file comparisons.

On MAC addresses: For our use case, I prefer to pass them as arguments, because I have that information avail

[2016-11-10 06:39] wingo commented on #549
I think we should also consider how we represent paths on the Lua level.  I suggest this:
- A path is a Lua array composed of path components
- A path component to access a struct field is a string, the name of the member
- A path component to access an array field is an integer (zero-based or one-based?)
- A path component to access a table item depends:
  - If it is a string-keyed table, then th

[2016-11-10 06:40] wingo commented on #549
This means that any xpath expression that can parse to the above path representation on the lua level works for us.  The xpath expressions that you mention would work fine.

[2016-11-10 07:44] wingo opened #561 "Implement state data for lwAFTR"
In the `yang` branch we have switched the lwaftr configuration over to use the new YANG code; sweet!  We have ongoing work there to be able to reconfigure a running app, but things are going well.

One important next piece to implement is the ability to respond to queries in general, and specifically to be able to read counters and other state data.  So @xray7224 if you are willing, let's do this

[2016-11-10 07:52] wingo commented on #561
The second step is the only lwaftr-specific one really.  So that we can keep this in `snabb config` and be somewhat generic, let's resolve a YANG support module via

[code]

The `build_state_data` function or something would then be looked up in that module.

[2016-11-10 07:53] wingo commented on #561
/cc @eugeneia @lukego FYI for ongoing `snabb config` design discussion

[2016-11-10 09:15] wingo opened #562 "Support incremental reconfiguration"
Right now in the `yang` branch we can statically configure an lwaftr process via a YANG-modelled configuration.  Great.  As part of this work we incorporated the binding table into the configuration, which is what our users expect; however, this removed the ability to reload just the binding table.  Indeed, the lwaftr no longer knows what file the configuration came from, so it can't do this on it

[2016-11-11 08:57] wingo commented on #562
Thinking about it more, there are two cases.  One is where you are just told to reload your configuration.  There, the protocol in the core will work well enough for us, especially after the recent optimizations in SnabbCo#1067.  The other is when you are told to make a change -- like "set external-interface.ip = 1.2.3.4" or something.  In that second case there are two sub-cases :)  One is the ge

[2016-11-11 10:07] wingo opened #564 "ARP support"
We need to deliver support for ARP in the lwAFTR.  Fortunately @kbara already implemented it :)  This issue is here so that by milestone v3.1, we have a description of the tests that we use to verify that ARP works as designed.

[2016-11-11 10:11] wingo opened #565 "On-a-stick performance testing"
As part of the work to get Snabb vMX and the lwAFTR to cooperate, we added support in Snabb for "on-a-stick" operation.  We need to get this performance-tested to ensure that it meets the requirements.

This task is to add an automated benchmark to Hydra that will run the lwAFTR in on-a-stick mode and produce a graph of packet loss versus applied workload, up to 10 Gbps.  The benchmark workload is

[2016-11-11 10:16] wingo opened #566 "Add instance identifier to lwAFTR configuration"
We should add the ability to specify a name when you start the lwAFTR.  The lwAFTR will then claim that name.

By default, the lwAFTR needs to be addressable even if no name is given.  Although we could consider the PID to be an automatically assigned name, probably that's not a good idea given that we are going in a multi-process direction.  So, probably the lwAFTR should generate a unique name i

[2016-11-11 10:18] wingo opened #567 "Add ability to enumerate the set of running Snabb processes"
Right now `snabb top` just prints a list of PIDs, with no indication of what those processes are doing.  Now that Snabb applications can have names, probably we should also allow them to declare a short description indicating their function.  In any case "snabb top" should list Snabb programs by name as well as or instead of listing by PID.

[2016-11-11 10:27] wingo opened #568 "Implement "snabb config get-state" for snabb-softwire-v1"
We need to implement the get-state command:

[code]

See https://github.com/snabbco/snabb/issues/987 for an early discussion.  Since then a couple things have changed, notably the relationship between the different processes, and that we're going to first work on our native YANG module rather than the standard IETF one; and that now we understand the relationship between data and schema better, an

[2016-11-11 10:29] wingo commented on #568
See also #561.  This one tracks the deliverable.  Probably in this issue/task we should also mention how this feature is tested.

[2016-11-11 10:32] wingo opened #569 "Implement "snabb config get", set, add, and remove for snabb-softwire-v1"
Like #568, this issue is for configuration rather than state.  Here we do need to actually talk to the data plane.  See https://github.com/snabbco/snabb/issues/987 for an early functional design, with the caveats from #568.  Implementation proceeding in #562.   Here in this issue we should also describe or point to the testing/verification/validation for this feature.

[2016-11-11 10:47] wingo opened #570 "Implement "snabb config listen" for snabb-softwire-v1"
Following on after #569, we need to implement a persistent listener interface.  When a configuration agent such as sysrepo connects to the config app in the Snabb lwAFTR manager process, that will put the conf app in a mode whereby it does not accept mutations (add/remove/set/listen) commands from other clients.  get and get-state can still proceed though.  The config app can still handle multiple

[2016-11-11 10:49] wingo opened #571 "Support ietf-softwire"
We need to maintain a bridge between the standard YANG model and the native snabb-softwire-v1 model used internally.

To recall, the issue with the standard YANG model is that it is keyed by B4 address, not by IPv4+PSID.  This might work well from a management perspective, but it does not reflect the way that the lwAFTR has to work internally.  (When an IPv4 packet arrives on the public interface,

[2016-11-11 10:51] wingo opened #572 "Measure impact of "snabb config get" and "get-state" on data plane performance"
By design, queries of configuration or state never have to touch the data plane, so they should have no performance loss.  We do need to verify this is the case.  Probably we can do this manually by hammering a running data plane with some queries.  In this issue, we should describe this testing procedure and the results.

[2016-11-11 10:59] wingo opened #573 "Measure impact of binding table updates on data-plane performance"
When the data plane is operating at full load, both in bump-in-the-wire, 550 bytes/packet workloads and on-a-stick IMIX workloads, we need to make sure that we can update the binding table without causing packet drops.  To this end we need to create a test rig consisting of three components: one, a lwaftr; two, a load generator that measures and records packet loss; three, a "snabb config" workloa

[2016-11-11 11:55] chrgraf commented on #573
Hi Andy,

One question please. I thought that snabb required a restart to use a modified binding-table.
Such restart, even as done very fast, was leading in the past to always drop packets when changing the binding-table.

Can you please let me know what changed to update lwaftr's binding-table on the fly with no drops for valid binding-entries?

Thanks

Christian

---

Christian Graf
Senior Consu

[2016-11-11 12:16] wingo commented on #573
Hi @chrgraf, this is a milestone bug for our use when planning future releases.  We will be adding support for changing the binding table without dropping packets.  Further details to come later.

[2016-11-11 12:19] chrgraf commented on #573
Hi Andy,

Thanks for quick feedback! I got it.

Thanks

Christian

---

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergericht / Commercial registry: München, HRB 205571
Geschäftsführer / Directors: Johannes

[2016-11-11 14:53] plajjan commented on #510
I have some feedback on the YANG model https://github.com/Igalia/snabb/blob/yang/src/lib/yang/snabb-softwire-v1.yang which I understand will be used.

A range of 0..0 is not allowed - https://github.com/Igalia/snabb/blob/yang/src/lib/yang/snabb-softwire-v1.yang#L358 - pyang will complain over this (try to run everything through pyang --lint (but you can ignore some of the IETF rules, like referenc

[2016-11-11 15:01] mwiget commented on #562
@wingo: I like the concept of a config/setup app as part of a graph. Works well with the single threaded nature and leaves it up to each app to do the "right" thing if required.
Looking at your current work with lwaftr, merging binding table and configuration into one file, do you see lwaftr knowing how to act on a configuration change that goes beyond a simple value change? Like e.g. changing the

[2016-11-11 15:02] wingo commented on #510
Thanks for the feedback @plajjan, it's very much appreciated :)  It will take a little bit of time to fix these things but we will address them.  Thanks for the detailed notes.

[2016-11-11 15:04] mwiget commented on #565
Cool! Thanks.

[2016-11-11 15:05] wingo commented on #562
@mwiget Interestingly I think snabb should handle non-simple changes well.  The special case is where you can just change one value, and we're currently working on a good solution for that, but it's been possible for a while to reconfigure the graph as a whole.  See paragraph 3 under current status and https://github.com/snabbco/snabb/issues/1067 for the core code.

[2016-11-16 09:04] chrgraf opened #579 "snabbvmx monitor app missing"
Dear all,

kindly ask for help.

In the past a "snabb snabbvmx monitor" command was available. Since some time it seemed this part is missing:

[code]

The command looked like this:

[code]

Can you kindly have this app added back again?
it was very beneficial for troubleshooting, as it gave "tcpdump" capabilities to lw4o6 translated packets.

thanks

christian

[2016-11-16 10:55] wingo commented on #529
Closing as merged.  Thank you @xray7224 !

[2016-11-16 10:55] #529 closed, assigned to nobody

[2016-11-16 11:54] wingo commented on #562
Done via #576.

[2016-11-16 11:54] #562 closed, assigned to nobody

[2016-11-18 10:44] #510 closed, assigned to nobody

[2016-11-18 11:07] wingo commented on #569
Documentation here: https://github.com/Igalia/snabb/blob/lwaftr/src/program/config/README.md

The current status is that we have implemented `get` and `set` with the restriction that the path must be `/`; we will relax that restriction later today or early next week.  Also there is `load`, to load a configuration from a file.  `add` and `remove` are coming shortly.

[2016-11-18 16:58] teknico commented on #565
Implemented by #578, #583, #587.

[2016-11-18 16:58] #565 closed, assigned to teknico

[2016-11-18 17:00] kbara opened #588 "Remove or fix ipv4-imix.pcap and ipv6-imix.pcap"
This is a reminder. They have bad checksums. Discuss more with @teknico when he is back from vacation.

[2016-11-22 17:31] wingo commented on #549
Done via #590.

[2016-11-22 17:31] #549 closed, assigned to nobody

[2016-11-22 17:32] wingo commented on #579
I see there is a "snabb lwaftr monitor".  I wonder if that works.  @kbara do you know?

[2016-11-23 04:28] dpino commented on #579
@chrgraf @wingo The `monitor` tool, although was originally in snabbvmx, was moved to 'snabb lwaftr' since the tool is also useful for Snabb's lwaftr when running in on-a-stick mode. I discussed that with @mwiget, he said he was OK with having monitor as part of Snabb's lwaftr.

[2016-11-23 14:07] wingo commented on #569
This is done.

[2016-11-24 08:09] chrgraf commented on #579
Hi Diego,

thanks for pointing me to the correct syntax. I can execute the command as you suggested, but I am not able to see the "monitored" packets. Not sure if I am doing it still wrongly or if it is an issue to be fixed.
Environment is the vmx-docker-lwaftr:
[code]

Please find my test below

**lwaftr works fine**
I am sending two packets snabbvmx and both get encapped/decapped correctly
[code

[2016-11-25 09:46] wingo commented on #570
Implementation in #594.

[2016-11-28 14:55] wingo opened #602 "Fix bug when updating configurations in place"
The "snabb config set" etc commands update configurations in place.  This doesn't work well with how `app.compute_config_actions` determines what needs to be done after a change.  Consider.

[code]
OK now we make a change.  This can result in a new config that shares state with the old one; the old data isn't immutable, sometimes a table is updated in-place.

[code]

The app graph is a function of

[2016-11-28 16:38] wingo commented on #602
The setup function maps an instance configuration to an app graph.  However an instance configuration may be updated in place, and if those places are embedded in the app graph, then the app graph is dirty in a way that lib.equal can't detect.  In that case I would like to add a function like

[code]

Well it's trash pseudo code.  The tricky bit is really determining which paths can change in plac

[2016-11-30 18:39] dpino commented on #550
Right, that's correct. The test as it stated receives packets in the inet-side interface of the lwAFTR and expects no output in either inet and b4 interfaces. Reference to empty.pcap can be skipped though as "" implies empty.pcap:

[code]

However, the counters file reports that two packets go through the IPv6 interface and that's why the test fails.

So I took at what's in icmp-ipv4-in.pcap:

[co

[2016-11-30 19:58] chrgraf commented on #550
Hi Diego,

thanks for looking into it.
First of all, your observation that the input-pcap has in total 6 packets and only two of them are valid is fully correct and 4 of them shall be discarded due to not matching the binding-table.

My original provided icmp.lua is reflecting this.

[code]

I am wondering if I still have a fully wrong understanding on how the test works.
I provided the lua counte

[2016-11-30 20:29] chrgraf commented on #533
Dear all,

a quick update on this - issue is still seen with latest snabb lwaftr:

[code]

## used config and starting snabb lwaftr

**migrated.cfg**

[code]

[code]

With that configuration I am sending 3 IPv4 packets into lwaftr:

- First packet get translated properly and showing that lwaftr is functional
- 2nd and 3rd packet do not match binding-table (packets use PSID 0, while binding-table s

[2016-12-01 07:03] dpino commented on #579
I haven't run the example code but I think the root of the problem is in the command that launches `snabbvmx lwaftr`:

[code]

In order to inspect mirrored packets, besides running "lwaftr monitor" on a SnabbVMX process, it's necessary too to pass a `--mirror` knob to snabbvmx. Matching packets are copied to the mirror interface. For instance:

[code]

Then monitored packets are copied to interfac

[2016-12-01 09:35] chrgraf commented on #579
Hi Diego, Hi Marcel,

First your proposal below works fine in standalone mode (launching snabb on compute-host directly) - details are below. Thanks for this.
Inside the container based on (git clone --recursive -b v1.1.16 https://github.com/Juniper/vmx-docker-lwaftr) it is not working..
So work is required to make it working in a vmx-docker-lwaftr container. Not sure who needs to do this (jnpr/ig

[2016-12-01 09:45] dpino commented on #550
An empty pcap file as ipv6-output won't work because with the given configuration file and input (icmp-ipv4-in.pcap) the lwAFTR will encapsulate two packets, thus ipv6-output must contain those two packets.

The way the test system works is by passing the input packets to the lwAFTR and comparing the expected output to the output that the lwAFTR has generated. The counters file is compared too to

[2016-12-01 09:49] tsyesika commented on #568
This has been implemented as of https://github.com/Igalia/snabb/commit/660078799af0cf1649568ce10aa06ef061c26455.

This brings the `snabb config get-state` command which supports [a number of different options](https://github.com/Igalia/snabb/blob/lwaftr/src/program/config/get_state/README.inc). The two required options are the identifier which is either the name of the snabb process or the PID. Th

[2016-12-01 10:07] chrgraf commented on #550
Dear Diego,

Many thanks for this extensive explanation. I am seeing my fault.

Will check it asap.

(and most likely close the issue and create PR for an corrected README.troubleshooting.md)

Thanks

Christian

————————————————————

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellsc

[2016-12-01 11:24] chrgraf commented on #550
This issue can be closed. The end-to-end test behaves fully correct. Please see Diegos explanation above about the expected behavior.
Rechecked the issue and test behaves as expected.

**Summary**
Even if as check-criteria the counters.lua file is provided, the resulting outv4 and outv6 caps must match as well.
So it is a logical "and" for the all of the three criteria (outv4, outv6 and counters.l

[2016-12-01 11:24] #550 closed, assigned to kbara

[2016-12-01 12:24] chrgraf opened #607 "lwaftr end-to-end tests do not handle self-generated icmp dest unreach correctly"
Dear all,

kindly need your support.

**summary:**
When running the end-to-end tests with -r option to generate out.pcap and counters,
the generated counters-file does NOT match the generated outv4.pcap for self-generated icmp dest unreachable.
- counters.lua file is correct
- outv4.pcap is empty, but shall contain 2 self-generated icmp dest unreachable

Issue opened, because generated outv4.pcap

[2016-12-01 12:47] wingo opened #608 "Handling foreign YANG schemas design document"
Usually operators want to work against network devices described by standard YANG schemas.  However when you go to build a data plane, it inevitably has different functionality compared to any given standard schema.  Because you need to support the standard schema also, that "native" schema ends up being a superset of the standard schema.

It's also possible that an operator might want to see a de

[2016-12-01 16:25] #602 closed, assigned to nobody

[2016-12-01 16:36] plajjan commented on #608
Does it make sense to put the translation functionality in sysrepo instead? It's a generic issue so a generic solution could benefit many and also help in maintaining it by not putting everything in Snabb.

[2016-12-01 16:49] wingo commented on #608
Good question @plajjan!  I assumed that this wasn't a possibility.  To me, Snabb sounds about the right place because the specifics of the ietf-softwire schema and how it maps to snabb-softwire seem to be the domain of the lwaftr itself more than a generic netconf agent -- but I dunno, either way could work.

For now I will implement in Snabb as that's the bit that I control and can test :)  But i

[2016-12-02 12:25] dpino commented on #607
Hi @chrgraf

I cannot reproduce the issue. This is my tip of master:

[code]

With the given input I run:

[code]

Then I inspect ./outv4.pcap, and this is what I get:

[code]

I attach the related config files and pcaps.
[issue-607.tar.gz](https://github.com/Igalia/snabb/files/627126/issue-607.tar.gz)

[2016-12-02 12:28] dpino commented on #607
Ping @mwiget. It seems monitoring packets to a mirror interface when SnabbVMX runs inside a docker container is not working correctly. Any thoughts about this?

[2016-12-02 12:29] dpino commented on #579
Ping @mwiget. It seems monitoring packets to a mirror interface when SnabbVMX runs inside a docker container is not working correctly. Any thoughts about this?

[2016-12-02 13:23] dpino commented on #533
Hi @chrgraf

Sorry for the delay looking into this bug, and thanks again for the great report.

As you suggested it seems there's a missing ICMP error message for the third packet, as it doesn't match the binding table. I dove into the source code to check what's happening. In the code that manages incoming ICMP packets:

[code]

This snippet of code is the one that discards non-matching ICMP pack

[2016-12-02 13:43] chrgraf commented on #533
Dear Diego,

This is a perfect match. Please have the issue closed and please excuse for reporting this wrongly.

Thanks

Christian

--------------------

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergerich

[2016-12-02 13:46] #533 closed, assigned to dpino

[2016-12-02 18:11] dpino commented on #607
I run the example again using the referred commit in the bug report as tip of branch:

[code]

I got two packets in outv4.pcap after running snabbvmx check:

[code]

However, I noticed the attached input .pcap goes by a different name that the one used in the example (inputv4.pcap vs icmp-in-v4.pcap). Would it be possible the input .pcap file was not correct thus the result differed from what it w

[2016-12-02 20:57] chrgraf commented on #607
Hi Diego,

thanks for looking into it. As it is working for you I am wondering what is different in mine setup.
I have downloaded the issue-607.tgz and rerun the test - mine outv4.pcap is still empty while it shall contain 2 packets.
To further reduce complexity, I am now using lwaftr instead of snabbvmx:

**lets make sure we are using identical files**
[code]

**used snabb binary**
[code]

**runn

[2016-12-05 10:49] dpino commented on #607
I tried to reproduce the issue again and I got the same results I got before. ```lwaftr check``` writes 2 IPv4 packets to the output interface.

[code]

I agree on doing a video-chat session to debug the issue together.

[2016-12-05 17:02] wingo opened #615 "Test "snabb config" facility"
The new "snabb config" facility needs testing. :)

To test, run:

[code]

The "SNABB_LEADER_VERBOSE" bit lets you know a bit more about when things are changing.

Then to test with "snabb config", in another terminal, do:

[code]

Try different paths, try add/remove, try add/remove on weird paths, etc.  As you find bugs (and you will), please file them! Anything that causes the data plane to crash

[2016-12-06 16:17] teknico opened #622 "The "config get-state" command is not working"
When running `lwaftr bench` as described in #615, the `config get-state` command does not work.

The command:
`$ sudo ./snabb config get-state lwaftr /`
causes this error in the same terminal:
`core/main.lua:26: missing value for state`

The command:
`$ sudo ./snabb config get-state lwaftr /softwire-state/`
causes this error in the `lwaftr bench` terminal:
`error: lib/yang/path.lua:223: Struct ins

[2016-12-06 16:43] wingo opened #623 ""snabb lwaftr query" should support names"
Right now I think it just works for pids.

[2016-12-06 17:11] dpino opened #624 "Cannot build large binding tables"
I'm trying to launch `lwaftr run` with a large binding-table (2M). Here is a lwaftr config file with such binding-table:

https://people.igalia.com/dpino/lwaftr/lwaftr-migrated.conf

The configuration file is in v3.1.0 format. This configuration file is the result of a migration of the old lwaftr conf + binding-table files we used to use for benchmarking:

https://people.igalia.com/dpino/lwaftr/lw

[2016-12-06 17:31] wingo commented on #624
It seems this is because the new yang parser uses too much memory.  It's not a complexity problem -- the parser still appears to be O(n) -- but a memory usage problem.  The configuration file itself is like 100Mbytes and it's thus quite conceivable that simply parsing the AST reaches LuaJIT's 1Gbyte limit (that seems to be what I'm seeing).  I don't yet know what the solution is :)

[2016-12-06 19:22] calvincheng8 commented on #510
Regarding the problem with "range 0..0;", you could simply replace it with "range 0;"

[2016-12-07 06:53] chrgraf commented on #607
Hi Diego,

I have attached a tarbal, which contains the "run-this.sh" and files I am using including snabb binary.
I have executed this on another ubuntu machine with same results.

can you please check how the "run-this.sh" looks at your side?

'''
juniper@psal-holoplan1:~/igalia/issue-607$ ./run-this.sh
./migrated-snabbvmx-lwaftr-xe1.conf: loading compiled configuration from ./migrated-snabbvmx-

[2016-12-07 10:15] #622 closed, assigned to nobody

[2016-12-07 10:18] teknico commented on #622
Fixed by #626.

[2016-12-07 10:52] dpino commented on #623
This was requirement in SnabbVMX too so I implemented an ad-hoc mechanism to query a process by name. The name is stored as a counter in `nic/id`. SnabbVMX can be launched passing an id argument, which value is stored in this counter. Example:

[code]

So when properly implementing this feature, it would be ideal to remove this ad-hoc support and double check SnabbVMX keeps working.

[2016-12-07 12:31] #624 closed, assigned to nobody

[2016-12-07 14:43] kbara opened #631 "Write property based tests for yang"
There are several properties that our yang implementation should have, including:
a) not crashing when given arbitrary sequences of gets and sets
b) having the same values after 2 or more of the same get or set (or interleavings thereof)

As a first step towards this, I am going to write some scaffolding code, similar to the property based testing we have in pflua, which generates a small subset o

[2016-12-07 14:49] wingo commented on #631
Sounds good.

WDYT about framing this in terms of "snabb config" commands rather than "yang" commands?  Yang is the schema, not the operations on data.  Do you plan to test against a running snabb instance, or do this in an in-process way?  Probably it would be most useful to use "snabb config" on a live lwaftr instance, possibly via the listen interface.  Ideally we could have properties for what

[2016-12-07 15:00] kbara commented on #631
Was still thinking about that. Testing with snabb config is higher overhead, but seems like a good initial way to go to me.

[2016-12-07 15:04] wingo commented on #631
Yeah the thing is that the library interface is still a bit gnarly on the inside; snabb config commands don't map directly to library concepts.  There's a lot of logic in "snabb config".  Therefore to me it makes sense to focus testing efforts on the documented public interface rather than on internals.

[2016-12-07 15:08] kbara commented on #631
Ok, perfect, I'm glad we talked that through.

[2016-12-07 15:32] wingo opened #634 "We ship a "snabb-lwaftr" binary from which "snabb config" is inaccessible"
We ship a "snabb-lwaftr" binary in our releases.  However we can't get to "snabb config" from this binary.  What should we do?  Options would be to ship "snabb" but that could be confusing ("what binary is this?").  Or we ship two binaries maybe.  What to do?

[2016-12-07 15:38] wingo opened #636 "Address Kristian's feedback on the YANG model"
See https://github.com/Igalia/snabb/issues/510#issuecomment-259973663.

[2016-12-07 15:40] wingo opened #637 "Fix "snabb config" error reporting"
Currently the leader doesn't ship errors back to the "snabb config" invoker, which is a bit irritating and leaves the user with a pretty scary traceback about a short read.  This needs to be improved; the user should see a nice error and a non-zero exit code.

[2016-12-07 15:42] wingo opened #638 "Validate path against schema in "snabb config get""
Right now you can do "snabb config get basdafasdfasdf" and you get a gnarly error, made even gnarlier for other reasons (#637).  But really we should let the user know directly that a path is expected and badasdasdada isn't a valid path before sending that to the snabb instance.

[2016-12-07 15:44] wingo opened #639 "Improve snabb config --help"
Right now if you do "snabb config --help", it gives you:

[code]

This is out of date and gnarlynasty.

[2016-12-07 15:47] wingo opened #640 "Add ability to make a log of incoming "snabb config" commands for later replay"
"snabb config" should have a facility to write out commands in "snabb config listen" format, which could then be replayed simply by piping them to a "snabb config listen".  In this way if a user experiences incorrect behavior, we can just ask them to run with this facility enabled next time and then they can give us the log.

[2016-12-07 15:51] dpino commented on #634
My two cents: to ship two commands but only binary. We keep snabb-lwaftr binary and snabb-config is a link to snabb-lwaftr. That would allow to execute "snabb config".

[2016-12-07 15:55] wingo commented on #634
I have reports that users are used to switching back and forth anyway because of git, and with git you just have "snabb". In that case let's ship "snabb" and then a symlink from snabb-lwaftr to snabb to keep old scripts and documentation working.  Sound about right to you @dpino ?

[2016-12-07 15:57] dpino commented on #634
SGTM.

[2016-12-07 15:58] kbara commented on #634
SGTM too

[2016-12-07 15:59] wingo opened #641 "Consider removing end-addr in psid-map"
Right now our psid-map by default specifies the psid parameters for one IPv4 address.  It optionally extends to another address, the end-addr.  This follows our legacy configuration file format.  However, this makes it difficult to take a configuration and determine whether an IPv4 address is actually in it, without building a range map.  This makes it difficult to map between the snabb-softwire-v

[2016-12-07 16:03] wingo opened #642 "Arrange to create release tarballs for each git commit via hydra"
In Guile we have a hydra integration that makes release tarballs for every git revision.  We should have this in Snabb hydra as well so that our release process is a simple reproducible tag and the bot handles the rest.  The complication for doing this in Hydra is the because we ship a binary, we need to make the build on a FHS system, not with Hydra's ld.so paths (https://github.com/Igalia/snabb/

[2016-12-08 08:21] #639 closed, assigned to nobody

[2016-12-08 08:24] teknico commented on #615
Lower-priority problems are recorded in other issues. This one includes some doc fixes in #643.

[2016-12-08 08:24] #615 closed, assigned to teknico

[2016-12-08 09:12] dpino opened #645 "Benchmarking results"
I'd use this issue to post benchmarking results. The test cases are:

1) Work-load of 550-byte packets at 2MPPS in each direction.
2) Work-load of 550-byte packets at 2MPPS in each direction with --reconfigurable.
3) In "on-a-stick" configuration, workload of IMIX packets (5 64-byte packets, 3 594-byte packets, 1 1500-byte packet).

All use cases should reach line-rate speed both in bump-in-the-wi

[2016-12-08 09:19] dpino commented on #645
**Bare-metal**

Tip of master:

[code]

Commands:

[code]

[code]

I noticed that although the workload reaches 10Gbps, the lwAFTR reaches a max threshold at 8Gbps and keeps the same throughput until 10Gbps. Packets are not dropped. That's strange IMHO, if the lwAFTR cannot process more packets and the workload increases packets should be dropped. I attach the result of the benchmark.
[bare-metal.

[2016-12-08 09:55] wingo opened #647 "Fix race condition when applying changes to follower"
To reconfigure a data plane, the leader will break down a change into a sequence of actions, then ship those actions to the follower.  However if the follower only reads some of the actions, applies them, lets the data plane run, then applies the rest of them, the system could be in a state that apps don't expect.  For example the lwaftr wants to have a certain set of input and output links, but d

[2016-12-08 10:10] #623 closed, assigned to dpino

[2016-12-08 14:23] wingo opened #651 "Make it more clear what's going on with processes"
Right now the main and worker processes show up in "snabb ps".  Probably "snabb ps" should be able to know who is who.  Also the "ps" output shows the worker as [[exe]], which ain't so nice -- surely this should be changed to be [[snabb worker for PID xxx]] or something.

[2016-12-08 14:25] wingo commented on #634
Fixed in #649.

[2016-12-08 14:25] #634 closed, assigned to nobody

[2016-12-08 14:28] wingo opened #652 "Main process should use less CPU"
Right now the main process does a busy wait.  It should instead make the listener have a timeout for accepting new connections or reading new data I guess.  Anyway it should use less CPU.

[2016-12-08 16:01] dpino opened #653 "Packet drop reporting in SnabbVMX"
I am using "snabbvmx top" to inspect a running lwaftr process. It prints out Rx/Tx values nicely. It also reports packet drops but I think the value is not being correctly updated. That's the issue to investigate.

Running lwaftr:

[code]

Send traffic with packetblaster:

[code]

[code]

Inspect lwAFTR running instance with snabbvmx top:

[code]

[2016-12-08 16:05] wingo opened #654 "quadratic insertion time when resizing ctables"
When you have a "list" yang node that was compiled as a ctable, it gets serialized out in hash order (just as an artifact of how things work).  When you go to construct a new ctable, it will start by creating a small ctable and grow that table over time.  However in the beginning the hash values for the entries always map to small hash values, guaranteeing collisions and quadratic probe depths as

[2016-12-08 16:26] dpino commented on #653
This was expected behaviour. The issue was happening because in Snabb's lwAFTR ingress-drop-monitor doesn't write down its value to a counter. nic ifInDiscards reflects the value of that counter. Since it doesn't exist in Snabb's lwAFTR, its value is zero.

If I programmatically activate it, it works fine:

[code]

[2016-12-08 16:26] #653 closed, assigned to dpino

[2016-12-08 16:41] chrgraf opened #655 "snabb lwaftr control reload does not properly reload updated binding-table"
Dear all,

kindly need help on an impacting issue.

vmx-docker-lwaftr is using the "snabb lwaftr control reload" function to reload an updated binding-table.
This reload is not working correctly and lwaftr will still use the "old" binding-table.

killing snabb and let it freshly load the assigned binding-table does work correctly, which proves that both the old and new binding-table are syntactica

[2016-12-08 16:55] mwiget commented on #655
This used to work in the past, but got broken by the introduction of BTLookupQueue in
https://github.com/Igalia/snabb/commit/39cc6e0195fff0ca2396a1d3c5a4ea344a9650d4:
When receiving a reload message, the inet and hairpin lookup table don't get updated, only the binding table.
Because we are still using the pre-yang lwaftr version, I have a patch based on the sub module version documented above, bu

[2016-12-08 18:17] dpino commented on #655
Hi @chrgraf, @mwiget

I just published a new tag "lwaftr-snabbvmx-v1.2" based on the requested commit:

[code]

[2016-12-08 19:27] dpino commented on #645
It seems `lwaftr loadtest` doesn't reach the maximum workload. That was the issue in the case before, it doesn't have to do with the lwAFTR.

[2016-12-08 19:32] dpino commented on #645
**Benchmarking on-a-stick mode**

Tip of master:

[code]

Commands:

[code]

[code]

Sample data is available at: https://people.igalia.com/dpino/lwaftr

At max workload performance reaches 1.5 MPPS on inet and b4 interfaces (almost 4.5Gbps each, which is near the line-rate speed of the card). My conclusion is that performance is OK.

[2016-12-08 20:05] dpino opened #657 "`lwaftr run` crash on trying to compile a large binding table inside a guest"
When running `lwaftr run` from a guest, I got a crash due to not enough memory.

[code]

[2016-12-08 20:06] dpino commented on #657
Currently the guest is started with 1Gb of memory. I will try to assign more memory to the guest.

[2016-12-08 20:20] dpino commented on #657
Increasing memory of the guest to 2Gb didn't fix the issue.

[2016-12-08 23:32] chrgraf commented on #655
Hi Marcel,

using v1.1.18 and is still not yet working. The interesting thing is, that the dump-bindingtable function does indeed show the correct binding-table, but somehow its not active.

**version 1.1.18**
[code]

Used same procedure as before, edit via vi the binding-table on the vCP and add last two 192.168.20.16 entries.

getting the changes activated via commit

[code]
the binding-table as

[2016-12-09 07:50] dpino commented on #607
@chrgraf  Here's the output after running the run-this.sh script:

[code]

[2016-12-09 07:52] dpino commented on #607
I also run it in our snabb servers, which have hugepages enabled. Here's the output:

[code]

[2016-12-09 11:26] dpino commented on #657
It seems the issue is not binding-table compilation. The table gets compiled, it fails afterward. Also trying with a smaller binding-table fails too:

[code]

[2016-12-09 11:29] dpino commented on #657
My fault. The problem was that I started `lwaftr run` inside a guest without passing the --virtio knob. Closing issue.

[2016-12-09 11:29] #657 closed, assigned to dpino

[2016-12-09 11:47] dpino commented on #645
**Virtualized**

Tip of master (both master and guest):

[code]

Commands:

**guest**

[code]

**host**

[code]

Packets start to drop at a workload of 8 Gbps. See attached file.
[lwaftr-virt.txt](https://github.com/Igalia/snabb/files/642061/lwaftr-virt.txt)

[2016-12-09 13:12] wingo commented on #608
Closing issue as the code landed earlier this week.

[2016-12-09 13:12] #608 closed, assigned to nobody

[2016-12-09 13:20] wingo commented on #571
This works.  An example transcript:

## Getting the whole table

[code]

## Getting only part of the table

[code]

## Getting one softwire

[code]

## Adding a softwire

In the example below, the bit after the "snabb config" invocation is pasted into the terminal then ended with C-d.  You can pipe to the command if you like.

[code]

## Getting the newly added softwire

[code]

## Removing the so

[2016-12-09 13:22] wingo opened #663 "Fix tunnel-path-mtu in ietf-softwire"
There are two fields in the ietf-softwire schema whose values are unset:

[code]

We should fix this.

[2016-12-09 13:22] #571 closed, assigned to nobody

[2016-12-09 15:19] wingo commented on #573
To test this, you run a lwaftr.  Say it's running and named "lwaftr".  For this example:

[code]

Now run a loadtest:

[code]

Now we create a script of commands to add and remove softwires.  For example:

[code]

Copy that like 100 or 1000 times in a file (say `commands.json`).  Then pass it to "snabb config bench":

[code]

The "w" entries indicate where "snabb config bench" was writing a reques

[2016-12-09 15:45] #647 closed, assigned to nobody

[2016-12-09 15:47] wingo commented on #654
cf http://accidentallyquadratic.tumblr.com/post/153545455987/rust-hash-iteration-reinsertion.  It's not quite the same problem but it's pretty close.

[2016-12-09 16:28] wingo opened #668 "It's possible to wedge "snabb config listen""
"Snabb config listen" will attempt to pipeline requests to the leader.  However it's possible to end up in a situation where "snabb config listen" deadlocks with the leader.  Consider, the listener has many requests to the leader, and is just encoding them and writing them out.  The leader will handle them one by one.  So the leader polls and sees it has a request, cool, it goes into a state where

[2016-12-09 16:35] wingo commented on #572
As in #573, run a lwaftr and a loadtest.  Then make a file with some "get" commands.  For example:

[code]

Put that in your file a few times.  At the moment if you put too many you can end up triggering bug #668, so be a little careful there until we fix it.  Then monitor your loadtest and see that no packets drop.  I have verified it has no effect on a 2 MPPS FDX bump-in-the-wire test run.

[2016-12-09 16:35] #572 closed, assigned to nobody

[2016-12-09 16:35] #573 closed, assigned to nobody

[2016-12-09 16:35] #588 closed, assigned to teknico

[2016-12-09 16:53] wingo commented on #569
Example transcript:

## Getting the whole table

[code]

## Getting only part of the table

[code]

## Getting one softwire

[code]

## Adding a softwire

In the example below, the bit after the "snabb config" invocation is pasted into the terminal then ended with C-d.  You can pipe to the command if you like.

[code]

## Getting the newly added softwire

[code]

## Removing the softwire

[code]

[2016-12-09 16:53] #569 closed, assigned to nobody

[2016-12-09 16:55] wingo commented on #568
After some bug fixes by @xray7224 there are more counters now and the output looks like this:

[code]

[2016-12-09 16:55] #568 closed, assigned to tsyesika

[2016-12-09 16:57] wingo commented on #566
This is implemented.  Pass `--name` to the lwaftr to give it a name.  That name can then be passed to "snabb config" invocations instead of the PID.  To see the list of current Snabb instances and their PIDs, use "snabb ps".  See #567 for documentation on "snabb ps".

[2016-12-09 16:57] #566 closed, assigned to nobody

[2016-12-09 16:58] kbara commented on #564
Our testing strategy, with ARP as a case study and details of how to test it on a live network, is outlined in https://github.com/Igalia/snabb/pull/669

[2016-12-09 17:07] wingo commented on #570
This works as documented here: https://github.com/Igalia/snabb/blob/lwaftr/src/program/config/README.md.

Specifically for the lwAFTR, consider that you have a running lwaftr instance named `lwaftr`.  If you don't have one, you can run one:

[code]

You have to pass `--reconfigurable` to the lwaftr, to give it config integration.  Then:

[code]

That opens a listener.  To test, you can just paste

[2016-12-09 17:07] #570 closed, assigned to nobody

[2016-12-09 17:19] dpino commented on #567
Example output:

[code]

[2016-12-09 17:26] kbara commented on #564
The excerpt most relevant to ARP:

The overall project is developed as a series of smaller, more modular parts. For example, facilities like ARP and ping support are implemented as Snabb apps, independently of the main lwAFTR app; they are then all combined into an app network within Snabb. YANG support has a similar flavour; the majority of it is run in a separate process from the data plane. Thi

[2016-12-09 17:27] dpino commented on #567
This is what `snabb ps` returns now:

[code]

Running lwaftr command:

[code]

[2016-12-09 17:55] wingo commented on #567
The `*` indicates processes that are listening for "snabb config" connections.

[2016-12-09 17:55] #567 closed, assigned to nobody

[2016-12-09 18:05] #651 closed, assigned to dpino

[2016-12-09 18:06] #564 closed, assigned to kbara

[2016-12-13 03:52] mwiget commented on #655
@dpino I don't think I can create a pull request to a tag, can I? Tags are just pointers to a specific commit IMHO. If correct, can you create a branch instead? It will be a while, until I can migrate to the latest lwaftr. This will require significant changes in snabbvmx, particularly around handling the config file and binding table.

[2016-12-13 09:31] dpino commented on #655
@mwiget Yes, that's correct, my mistake. I created a new "lwaftr-snabbvmx" remote branch with bd3811f74520bb2f7a1fd96fc3291ae64ceeaa94 as tip. Should be possible to create a PR to that branch now.

There are other commits that are currently in "lwaftr" branch that fix issues in snabbvmx that need to be backported. I will create a backport PR for those commits too.

[2016-12-13 10:35] teknico commented on #640
I'll add an option: `-l, --log-cmd`, via a new `log_cmd` function in `src/program/config/common.lua`. It will hook at the end of `parse_command_line`, using the `ret` object and the functions in `json.lua` to create JSON command lines in "listen" format and print them to stdout.

[2016-12-13 12:12] wingo commented on #640
Not stdout please, `snabb config listen` uses it for other purposes.  How about `--log-file` and that option when given both enables logging and specifies the output file.

[2016-12-13 13:43] chrgraf commented on #655
Dear all,

I have been verifying Marcels 1.1.19 container "git clone --recursive -b v1.1.19 https://github.com/juniper/vmx-docker-lwaftr".

Using this container the issue is solved properly.

[code]

Editing the binding-table via vi on the routing-engine and then "commit" the config properly reloads the updated binding-table.

closing the issue as being solved

thanks

christian

[2016-12-13 13:43] #655 closed, assigned to dpino

[2016-12-13 14:45] teknico commented on #640
Is it useful to implement this option for the `config listen` command too? It would just echo the incoming commands that the user is sending, wouldn't it?

Regardless, agreed about writing to a file and the option name.

[2016-12-13 15:42] wingo commented on #640
i was thinking that this should only be implemented for "snabb config listen" but maybe that's silly, maybe it should actually be implemented in the leader instead

[2016-12-14 10:46] dpino opened #676 "Make lwaftrctl.sh script more like snabbnfv/selftest.sh script"
There are some divergences between how `lwaftrctl.sh` script and `snabbnfv/seltest.sh` script:

1) `lwaftrctl.sh` script launches a VM image with ssh enabled. This channel is used to log into the VM from the host.
2) `lwaftrctl.sh` uses command `screen` while snabbnfv uses `tmux`.

Regarding 1) this is not currently a big issue because, unlike the SnabbNFV tests, the host doesn't need to additiona

[2016-12-17 01:45] takikawa opened #677 "Error on valid `snabb config set` invocation using ietf-softwire"
Here are the reproduction steps and the error message that is produced:

[code]

Perhaps a bug in `ietf_softwire_translator` in `snabb-softwire-v1.lua`?

[2016-12-17 02:06] takikawa opened #678 "`make clean` should also delete .o files in tests dir?"
Example:

[code]

Since the `.o` file remains, you can get an error like this if you update snabb, rebuild, and run a test:

[code]

[2016-12-19 11:37] plajjan opened #683 "Let SnabbAFTR manage the list of br-addresses"
The YANG model currently contains a list of softwires and a leaf-list of br-addresses. software/br references into the br-address leaf-list using a zero-based index. This is not very YANGy at all and puts the job of coming up with these references on the NETCONF client.

I don't see the point of this and to me this feels like it belongs as an internal function of the SnabbAFTR.

I suggest that we

[2016-12-19 11:45] plajjan commented on #683
This was originally part of #636 too.

[2016-12-20 07:59] dpino commented on #678
Agree, this is an annoying error (still having it some times) and it's not obvious how to solve it.

[2016-12-20 11:32] chrgraf commented on #579
Dear all,

I have been further looking into the issue and got it working inside the container - finally according to previous mentioned steps. Key difference opposed to previous steps was to properly kill snabb and launch it manually with the --mirror knob.

**solution in short:**
- per each instance a unique tap-interface is required
- snabb must be launched with the --mirror tap\<x\> knob

**ver

[2016-12-20 12:55] mwiget commented on #579
The original version of snabbvmx always connected to a mirror port with the same name as the id given to snabbvmx. The final version added a new parameter '--mirror' that needs to be added to the launch script in the vmx-docker-lwaftr container.

I'd say the change is needed here: https://github.com/Juniper/vmx-docker-lwaftr/blob/master/launch_snabb.sh#L48, so

@chrgraf: please open an issue in ht

[2016-12-20 13:32] tsyesika opened #686 "Snabb listen should work over unix sockets too"
The `snabb listen` command currently only operates over stdin and stdout. We should also allow for communication over a unix socket. This would probably add an extra parameter to the listen command e.g. `--socket` which would specify the path where the socket should be made. The command then should make the socket and allow for communication over it inplace of stdin/stdout.

NB: Multiple clients v

[2016-12-20 13:54] chrgraf commented on #579
Dear all,

tracked and worked on here: https://github.com/Juniper/vmx-docker-lwaftr/issues/1

closing this one.

thanks

christian

[2016-12-20 13:54] #579 closed, assigned to dpino

[2016-12-20 14:34] dpino commented on #579
Glad it got solved :+1:

[2016-12-20 15:13] dpino commented on #678
The point is that `src/Makefile` is not aware of the programs within `programs/`, and I think it shouldn't make assumptions about existing programs. The lwAFTR has its own Makefile, which is basically used to build the lwAFTR manual. It features a `clean` rule that removes complied documentation. Maybe we can extend the rule and make it remove .o files in tests too. Is that a good approach?

[2016-12-20 15:44] chrgraf commented on #579
Thanks Diego for your help and input – this helped alot!

Thanks

Christian

————————————————————

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergericht / Commercial registry: München, HRB 205571
Geschäftsfü

[2016-12-23 09:55] kbara opened #687 "Intermittent test failures in channel"
Both @dpino and I have noticed snabb_bot failing on channels, while the channel test works when run manually. An example is https://gist.github.com/lwaftr-igalia/7a0d20e3841b3a5f2784860ddcf732c8

[code]

@wingo

[2016-12-23 10:02] kbara commented on #687
After discussion with @dpino , I'm closing this as a side-effect of that particular branch, rather than as a true intermittent bug.

[2016-12-23 10:02] #687 closed, assigned to nobody

[2016-12-29 15:20] dpino commented on #516
I triaged the bug in igalia/lwaftr-snabbvmx (equivalent to vmx-docker-lwaftr v1.1.18) and I couldn't reproduce the issue.

**lwaftr --on-a-stick**

[code]

**snabbvmx**

[code]

Closing ticket.

[2016-12-29 15:20] #516 closed, assigned to dpino

[2016-12-29 15:55] kbara opened #691 "Ensure old lookup queues are cleaned up before creating new lookup queues"
Make sure that no packets / resources get leaked under any circumstances.

Related to https://github.com/Igalia/snabb/pull/675 , which in turn is justified by https://github.com/Igalia/snabb/issues/655#issuecomment-265792331 .

[2016-12-29 17:51] #645 closed, assigned to nobody

[2017-01-02 14:17] #676 closed, assigned to dpino

[2017-01-03 11:03] #678 closed, assigned to dpino

[2017-01-03 11:44] dpino commented on #607
Hi Christian,

I want to retake again this issue and hopefully fix it.

I have pushed a remote branch which includes printing debugging message of a packet code path. This is what I get when executing "run-this.sh" in that branch:

[code]

The lwAFTR shows it's transmitting two ICMPv4 packets and it prints their payloads too. I want to check if you can see the packet dumps too (likely, I think the

[2017-01-03 15:04] teknico commented on #691
TL;DR: nothing to see here, move along (hopefully). :-)

The change applied in #675 recreates the two lookup queues associated with the binding table when a reload message is received, inside the `LwAftr:push` method.

`LwAftr:push` unconditionally calls `flush_decapsulation`, `flush_encapsulation` and `flush_hairpin` each time it runs. These three functions in turn call `BTLookupQueue:process_que

[2017-01-03 16:08] dpino commented on #642
Rereading #49 what sounds more reasonable to me now is what Luke proposed, to build the binary inside a Docker container.

[2017-01-03 17:14] dpino commented on #637
Addressed in #685. I keep the ticket open because I don't know if there's something else to.

[2017-01-04 09:16] chrgraf commented on #607
Good morning Diego,

thanks for the update. I have taken your branch and rerun the script, output is below.

[code]

*md5sum*
[code]

thanks

christian

[2017-01-04 09:23] plajjan commented on #683
@lwaftr-igalia comment please. I would really like to avoid having to implement this in our provisioning software because it breaks its stateless nature. As I'm sure you are aware, we want to put the SnabbAFTR, including NC/YANG, in the pilot rather soon (right about last year actually) so I would like this issue to receive some love ;)

[2017-01-04 10:18] kbara commented on #683
The two members of the team who know this stuff best are on vacation for another couple of days, but I'll bring it up with them on Friday/Monday.

[2017-01-04 10:28] dpino commented on #607
Good, it seems the lwAFTR sends the packet out (something which was highly probably as telling from the counters), but it fails at writing the output to the pcap file.

I updated the branch with a new commit that prints out the links. That will tell us at what point the packets get lost. Just simply `git pull` in your local branch to get it updated and the run make.

This is what my links look lik

[2017-01-04 10:37] kbara commented on #691
Having re-read the code, I accept your analysis. Thanks!

[2017-01-04 10:37] #691 closed, assigned to teknico

[2017-01-04 11:10] #641 closed, assigned to dpino

[2017-01-04 11:44] chrgraf commented on #607
Hi Diego,

did run the updated snabb:

**git log**
[code]

**permissions of tcpdump**
[code]

**tcpdump version**
[code]

**run-this.sh via sudo**
[code]

**run-this.sh via explicit root**
[code]

**md5sum**
[code]

thanks

christian

[2017-01-04 12:04] plajjan commented on #683
@kbara ok, thanks! :)

[2017-01-04 15:51] dpino commented on #607
I ordered the links. Basically, the packets start at capturev4.output and they are pass down to an input link in one app and that one passes the packet down to another app via an output link.

**Diego**

[code]

**Christian**

[code]

It seems there's a problem in the ARP application. In your case, the 2 packets coming out from the lwAFTR get lost when they arrive to the ARP app.

[code]

Now I ju

[2017-01-04 16:49] dpino commented on #636
For those PRs that don't pass CI, it's necessary to close them and open a new PR like the original one but including a fix to make it pass CI. That's the case of #679, which was closed in favour of #688.

[2017-01-04 17:56] dpino commented on #607
I think I figured out what happened.

In your issue-607 directory you have a `migrated-snabbvmx-lwaftr-xe1.o` file. This is a compiled lwAFTR configuration file. Try to remove it and execute `./run-this.sh`, that will read `migrated-snabbvmx-lwaftr-xe1.conf` and compile it to a new .o file. I think the problem was that the .o you have in your directory was compiled with an old version of snabb (at

[2017-01-04 22:39] takikawa opened #697 "Snabb config set errors for large values of max fragments per packet"
If you pass `snabb config set` the `/softwire-config/internal-interface/reassembly/max-fragments-per-packet` path with a large (unrealistic) value, it can error in the following ways:

[code]

[code]

Maybe the protocol should specify a smaller integer type for this field? (this came up in random testing)

Note: there are other paths that trigger similar allocation errors with large values, e.g.,

[2017-01-04 22:55] chrgraf commented on #607
Hi Diego,

thanks for this further analysis. I did follow your steps, but is not solving the issue:

**checking the directory contents**
[code]
Note: removing the symlink and copying snabb binary directly was tried as well. no difference.

md5sum of snabb binary in use
[code]

removing the .o file as suggested by you
[code]

**running the script**
[code]

**script is unmodified from the tarball**

[2017-01-05 08:52] dpino commented on #607
Thanks Christian. It seems I got a false positive. Now I don't manage to reproduce it as I told you, sorry for wasting your time.

I need to continue investigating. I think we should focus in `lwaftr-snabbvmx` branch, which is the branch vmx-docker-lwaftr is based. And also try this test in the latest commit of the lwaftr branch. I'm going to try those use cases.

[2017-01-05 10:22] kbara commented on #697
Yes, I think those are important edge cases; thank you for finding them.

[2017-01-05 11:01] dpino commented on #697
@kbara can you take care of this? It seems a bug in the fragmentation/reassembly code.

[2017-01-05 11:08] kbara commented on #697
I'd consider it a bug in specifying validation ranges at the yang level, rather than in the fragmentation/reassembly code, though it could be seen either way. If we fix it at the fragmentation/reassembly level, we need to introduce mechanisms to explicitly say when setting a value is out of range, etc - which is doable, but is a fair bit more baroque than just specifying ranges in our model.

[2017-01-05 16:48] dpino opened #698 "Intermittent packet loss in ARP app"
Follow-up on https://github.com/Igalia/snabb/issues/607

**Problem**

On running lwaftr check, showlinks reveals lwaftr.v4 sends packets into arp.south, but ARP:push doesn't receive any packets, actually ARP:push is not even called.

[code]

The relevant bit is:

[code]

It should be:

[code]

`outputv4.pcap` should contain 2 packets:

[code]

The issue doesn't happen in `lwaftr-snabbvmx` branch (

[2017-01-05 16:53] dpino commented on #698
Sample data for the test case: [issue-698.tar.gz](https://github.com/Igalia/snabb/files/687793/issue-698.tar.gz)

[2017-01-05 16:58] dpino commented on #607
After exploring the issue over remote desktop with @chrgraf , we found out:

- The issue happens intermittently in lwaftr branch. I was finally able to reproduce it in my desktop too.
- The issue doesn't happen lwaftr-snabbvmx branch, neither in my desktop or Christian's machine.

Thus, we agree to mark the issue as solved as `lwaftr-snabbvmx` branch is more relevant for Christian's case and open

[2017-01-05 16:58] #607 closed, assigned to dpino

[2017-01-05 17:03] dpino commented on #697
@kbara sounds reasonable. Still, are you interested in fixing it even if it's a Yang level? It doesn't seem hard.

[2017-01-05 19:44] takikawa opened #700 "FFI error from snabb config set with "next-hop {}""
Supplying `next-hop {}` (which I think is valid according to the schema?) as an argument for `/softwire-config/internal-interface` triggers the FFI error below:

[code]

[2017-01-05 20:01] takikawa opened #701 "Setting br-instance name (ietf-softwire) with snabb config results in cltable error"
Example:

[code]

Using `snabb config add` produces a more reasonable error:

[code]

[2017-01-05 20:09] takikawa opened #702 "Setting a config without `next-hop` results in an error"
Example:

[code]

I think the `next-hop` field is not currently mandatory (it's a non-presence container but has no mandatory leaf children), but maybe it should be?

[2017-01-06 09:59] teknico commented on #642
@wingo, would you please share the script you currently use to create the tarball, for comparison? Thanks.

Also, where shall we upload the release tarballs? http://people.igalia.com/awingo/ or somewhere else?

[2017-01-06 10:16] wingo commented on #642
I do `make dist PACKAGE=snabb-lwaftr DIST_BINARY=snabb-lwaftr` in the root of the snabb checkout.

We should upload tarballs somewhere else, but I think that's a question we can answer later, after hydra is generating the tarballs.

[2017-01-06 10:23] lukego commented on #642
Just $0.02: Nix has completely replaced Docker in my world view nowadays.

[2017-01-06 10:32] dpino commented on #642
@lukego Would it be possible to make the whole task only using NixOS? From my point of view, building the FHS-compatible binary inside a container is the only way to go, but perhaps I'm missing something. There's `patchelf`, but I don't know if it's completely reliable. Somehow using Docker seems safer to me for this use case.

[2017-01-06 11:10] lukego commented on #642
My impression is that patchelf solves the problem. You can install Nix on any Linux platform and it will successfully build itself and other software like Snabb. If patchelf were not reliable then it seems like this would not work. (I'm running Nix on my laptop in an Ubuntu chroot on ChromeOS and running all kinds of software that was built by the Nix upstream Hydra and installed on my laptop with

[2017-01-06 11:12] kbara commented on #642
I entirely agree with @lukego , fwiw.

[2017-01-06 11:27] dpino commented on #642
@lukego thanks for sharing your thoughts. If `patchelf` can do the job I think we can skip all the Docker overhead. What do you think @teknico ?

[2017-01-06 11:49] teknico commented on #642
It does simplify things considerably, if it works well enough. I'll give it a try.

[2017-01-11 10:00] kbara opened #707 "Snabb config with bogus field gives a traceback"
# ./snabb config set -s snabb-softwire-v1 24108 "/softwire-config/internal-interface/reassembly-max-fragments-per-packet" "332167"
lib/yang/path.lua:216: Struct has no field named 'reassembly-max-fragments-per-packet'.
stack traceback:
        core/main.lua:149: in function <core/main.lua:147>
        [C]: in function 'error'
        lib/yang/path.lua:216: in function 'compute_getter'
        lib/

[2017-01-12 11:10] #663 closed, assigned to dpino

[2017-01-12 11:32] iffy50 opened #709 "Stack Traceback when running with -onastick"
Hi,

I'm seeing a problem with starting the lwaftr when -onastick is used.

**service lwaftr start**

[code]

Here's the config of the attached router interface (Cisco ASR9k - works fine using same config params(other interface) when not onastick):

[code]

And the relevant part of the .conf file for the lwaftr

And interfaces part of the .conf file:
[code]

I also tried replacing the next-hop ipv

[2017-01-12 12:48] kbara commented on #709
Hi Ian,

Could we have lwaftr-onastick.sh and/or a copy of the exact command line you're using?

My colleague Diego was trying to reproduce this, and has confirmed that a case we typically use works, but it's somewhat different to yours:
[code]

[2017-01-13 08:23] iffy50 commented on #709
Hi,

Here it is:

[code]

[2017-01-16 10:16] dpino commented on #412
This task can be very time consuming for one person. I think it's better to split it in several subtasks, one selftest per UI tool, and let people work in one test at a time (instead of assigning all the tests to one single person). We need UI tests for the following tools:

- [x] lwaftr bench selftest.
- [x] lwaftr check selftest.
- [x] lwaftr config selftest.
- [x] lwaftr loadtest selftest.
- [x

[2017-01-16 10:22] teknico commented on #412
I agree. Let's use this as a grouping issue and create new specific issues for each selftest when we get around to creating them.

[2017-01-17 10:56] #686 closed, assigned to tsyesika

[2017-01-17 16:57] #709 closed, assigned to dpino

[2017-01-18 22:21] takikawa opened #716 "snabb config disallows "/" in values"
The `snabb config add` or `set` commands rejects adding or setting values with `/` in them but AFAICT they should be allowed. For example, when adding an entry that has an IP prefix:

[code]

Here is another example that tries to set a string type leaf with a string that has a slash in it:

[code]

[2017-01-19 09:41] #677 closed, assigned to dpino

[2017-01-20 15:27] dpino opened #723 "Introduce end-to-end test that matches multiple packets and multiple softwires"
Commit 86b9835 (PR #696), introduced an important regression. Only packets matching a few softwires got through. This regression was not detected by our end-to-end tests because they mostly work with small binding tables and test only one packet.

We would need a end-to-end test that works with a bigger binding-table and matches a large set of packets.

#696 was reverted in #722.

[2017-01-20 15:29] dpino commented on #723
The commit was reverted in #722

[2017-01-30 09:41] tsyesika commented on #700
My brief look into this, I actually think what you're doing is incorrect based on the schema. My understanding is this (if it were to succeed) would set the contents of `internal-interface` to `next-hop {}`. The `internal-interface` has mandatory fields such as `ip` and `mac`. I think if you wish to set next-hop to empty what you'd do is:

[code]

My suspicion as one of the mandatory fields is ass

[2017-01-30 09:43] kbara commented on #700
Yes, better error handling around missing mandatory settings with better error messages sounds really good.

[2017-01-30 10:11] tsyesika commented on #701
There seems to be two issues here.

The first issue seems to be that we do have named programs in snabb and there is no reason why we can't change the name of them. We did however opt not to put the name in our config (`snabb-softwire-v1`) because we wanted a single configuration file to be usable with multiple lwaftr instances that might run at the same times (and names having a requirement of be

[2017-01-31 12:22] kbara opened #727 "Softwires outside psid mappings are silently unmatched"
Perhaps they should lead to a warning or error instead?

[2017-01-31 15:33] tsyesika commented on #701
@takikawa Hey, I'm actually not able to reproduce this error on origin/lwaftr. I can't see why it wouldn't still be a bug but are you still able to reproduce it?

I get:
[code]

[2017-02-01 08:18] takikawa commented on #701
@xray7224 I just tried it on snabb1 on an up-to-date checkout and get the same behavior that you got.

I did a bisect to see when it changed, and it looks like the current behavior happens as of this commit: 6845bcab9fb76b94671c3537264460b683086d96

[2017-02-02 11:24] dpino commented on #701
@xray7224  @takikawa It is "/softwire-config/binding/br/br-instances/br-instance[id=1]/name" a valid path according to the schema? In case it is, then the error message is wrong and I think the problem is in this if condition which is too generic:

[code]

[2017-02-02 14:54] teknico commented on #642
A release tarball, with a correctly patched executable, is being generated (on-demand for now) by a [Hydra jobset](https://hydra.snabb.co/jobset/igalia/snabb-lwaftr-release). We have to decide a few details about how this is working, see comments in [the code](https://github.com/Igalia/snabb/blob/automate-release/tarball.nix) for details.

[2017-02-06 14:52] teknico commented on #652
More context from an email by @dpino:

[2017-02-06 16:15] tsyesika commented on #700
Fixed with PR #730

[2017-02-06 16:15] #700 closed, assigned to tsyesika

[2017-02-07 10:42] teknico opened #731 "Leader process apparently running on wrong NUMA node"
The following on `snabb1`. When running the command:
[code]
the output includes:
[code]
The `htop` command shows the follower's process as correctly running on CPU 4, but the leader process running on CPU 6 (NUMA node 1) instead of 0.

Symmetrically, when running the command:
[code]
the output includes:
[code]
`htop` shows the follower's process as correctly running on CPU 10, but the leader proce

[2017-02-07 11:21] #652 closed, assigned to teknico

[2017-02-07 15:49] teknico commented on #642
Policy agreed upon with @dpino:

- we will always create annotated release tags (see `git help tag`), not lightweight ones, so that we don't need to change the Hydra code (which currently does not track lightweight tags);
- the Hydra jobset will generate a tarball for each and every commit to the `lwaftr` branch, and make them available directly;
- the Hydra jobset will check for new commits every

[2017-02-08 13:04] teknico commented on #642
Implemented by #733.

[2017-02-08 13:04] #642 closed, assigned to teknico

[2017-02-08 14:16] teknico commented on #731
Upon further inspection of the processes (running on `snabb2` this time) using `taskset -p -c`, the follower's process is indeed running on the right CPU.

However, the leader affinity is shown as `0,6`, which are the first CPUs of nodes 0 and 1 respectively. This is also the affinity of other processes, looking like the default when they are not explicitly bound to a node. In this case the operat

[2017-02-09 11:16] teknico opened #736 "Write the "lwaftr bench" selftest"
Write the "lwaftr bench" selftest so that it is run by CI on each pull request. Part of #412.

[2017-02-10 12:01] tsyesika opened #737 "Add name leaf to snabb-softwire supporting modification and discovery of lwaftr's name"
This issue is to add support for a `name` leaf to the snabb-softwire-v1 YANG configuration schema. This will be used to set the name of an instance of the lwaftr. There will be two mechanisms to do this, the current method which is to use the command line flag `--name` and the setting of the leaf in the configuration. The order of precedence is as follows:

1. On an already running instance, a `sn

[2017-02-10 12:13] wingo commented on #737
And I guess a snabb config set will override anything?  SGTM, thanks for the design doc :)

[2017-02-10 12:16] tsyesika commented on #737
Yes indeed. Providing the name isn't taken `snabb config set` will modify any existing name that may have been specified by any other means. If the name is taken, a snabb config set will produce an error message explaining such.

(I'll modify the issue so we have a single, correct, comprehensive version of how this will work until the docs are written).

[2017-02-13 10:44] teknico commented on #652
Same problem is present when running the `lwaftr bench --reconfigurable` command, fixed in #738.

[2017-02-13 11:20] teknico commented on #412
Current situation:
- some initial tests in `src/program/lwaftr/selftest.sh`;
- config tests in `src/program/lwaftr/tests/config/`;
- query tests in `src/program/lwaftr/query/tests/`;

They use separate support code and different subcommand models.

In #736 I put some common code in `src/program/lwaftr/tests/common.sh`, and then used it when refactoring the config tests (#740) and the query tests (

[2017-02-20 09:38] teknico commented on #736
Implemented by #739.

[2017-02-20 09:38] #736 closed, assigned to teknico

[2017-02-20 09:40] teknico opened #745 "Write the "lwaftr run" selftest"
Write the "lwaftr run" selftest so that it is run by CI on each pull request. Part of #412.

[2017-02-22 11:41] tsyesika opened #748 "Named programs can't be unreconfigurable"
There is a bug where the `--name` on the lwAFTR doesn't have any effect unless `--reconfigurable` is set too. This introduced as of PR #742 and unfortunately not caught as the test covering it was broken at the time. This is as a result of a refactor of `claim_name` into the `setup_fn` (see: https://github.com/Igalia/snabb/blob/lwaftr/src/program/lwaftr/setup.lua#L543)

### Proposal
What actually

[2017-02-23 10:09] teknico opened #749 "Python infrastructure for integration tests"
As recently discussed on the team, and [approved](https://github.com/snabbco/snabb/issues/1106) by upstream, we are going to write integration tests in Python, in addition to shell scripts.

### Python version

We are going to use Python 3, not Python 2.

Python 3.0 was released [in 2008](https://www.python.org/dev/peps/pep-0361/#release-schedule), and its current version [is 3.6](https://www.pyth

[2017-02-23 15:18] teknico commented on #749
Hrmpf. Spoke too soon with regard to not having to pepper all test directories with `__init__.py` files: apparently recursive test discovery in namespace packages is [currently broken](https://bugs.python.org/issue23882). So peppering it is, for now.

[2017-02-27 09:01] #716 closed, assigned to nobody

[2017-02-27 14:37] teknico opened #754 "Write the "lwaftr loadtest" selftest"
Write the `snabb lwaftr loadtest` subcommand selftest. Part of #412.

[2017-02-28 09:48] teknico opened #756 "Write the "lwaftr check" selftest"
Write the `snabb lwaftr check` subcommand selftest. Part of #412.

[2017-02-28 13:27] #748 closed, assigned to tsyesika

[2017-02-28 13:28] tsyesika commented on #748
Just to note, this was fixed not by the proposal above but by adding the `switch_names` call to `lwaftr_app` function.

[2017-02-28 15:38] #754 closed, assigned to teknico

[2017-02-28 15:38] #745 closed, assigned to teknico

[2017-02-28 18:55] kbara opened #759 "Things like config errors should not give tracebacks"
IE, running snabb config set with an invalid field should give a friendly message, without a traceback, as should trying to (re)configure the lwaftr to not have a next hop. See #707 and #702 for examples.

This requires a rethink of how we do error handling, so is a lot more involved than it looks on the surface.

[2017-02-28 18:58] #702 closed, assigned to tsyesika

[2017-03-01 13:45] teknico commented on #756
Implemented by #760.

[2017-03-01 13:45] #756 closed, assigned to teknico

[2017-03-01 13:46] teknico opened #761 "Write the "lwaftr monitor" selftest"
Write the `snabb lwaftr monitor` subcommand selftest. Part of #412.

[2017-03-02 12:35] teknico commented on #761
Implemented by #762.

[2017-03-02 12:35] #761 closed, assigned to teknico

[2017-03-03 08:48] teknico commented on #749
This is now in place with #750, #751 and subsequent changes (notably #763).

[2017-03-03 08:48] #749 closed, assigned to teknico

[2017-03-03 08:51] teknico opened #764 "Convert "lwaftr config" to be Python-based"
For consistency with the other `lwaftr` subcommand tests. Part of #412.

[2017-03-03 12:07] kbara commented on #749
Fantastic, thank you!

[2017-03-06 15:57] teknico commented on #412
Subcommand selftests have been implemented in Python using the infrastructure described in #749.

[2017-03-07 09:48] #638 closed, assigned to tsyesika

[2017-03-07 10:55] tsyesika commented on #737
I think this can be closed as it's been merged into the `lwaftr` branch.

[2017-03-07 10:55] #737 closed, assigned to nobody

[2017-03-10 08:46] dpino commented on #476
Fixed in #704 (snabbvmx branch) and #766 (lwaftr branch).

[2017-03-10 08:46] #476 closed, assigned to dpino

[2017-03-10 14:17] mwiget commented on #476
This change breaks for ICMP packets:
https://github.com/Igalia/snabb/blob/lwaftr-snabbvmx/src/apps/lwaftr/nh_fwd.lua#L154-L161

tcp_hdr is undefined at line 161 for ICMP packets.

[2017-03-13 14:28] teknico opened #772 "Convert the "lwaftr query" tests to Python"
For consistency with the other `lwaftr` subcommand tests. Part of #412.

[2017-03-13 16:06] teknico commented on #764
Implemented by #768.

[2017-03-13 16:06] #764 closed, assigned to teknico

[2017-03-15 23:11] takikawa opened #774 "LuaJIT does not zero padding bytes in structures"
I think I may have found a bug in ctable for hashing C structs that are non-packed and include a non-word size field. I attached a patch that includes a test case.

[code]

I think what may be going on is that the `uint8_t` field gets written onto some garbage data without zeroing, so the other bytes are messing with the hash. I had a fix on my other branch, but applying it to the `lwaftr` branch

[2017-03-16 15:29] teknico commented on #772
Implemented by #773.

[2017-03-16 15:29] #772 closed, assigned to teknico

[2017-03-16 15:32] teknico commented on #412
This is now complete.

[2017-03-16 15:32] #412 closed, assigned to nobody

[2017-03-16 15:37] kbara commented on #412
Woo, well done! Thank you @teknico !

[2017-03-16 15:40] teknico opened #775 "Augment the lwaftr subcommands tests"
As [mentioned in a PR](https://github.com/Igalia/snabb/pull/763#discussion_r105152967), we need more subcommands tests. After #412 we have a good start and a nice infrastructure, let's put it to good use. :-)

This issue is meant to record ideas and proposals about specific tests for each subcommand, like the one linked above. Please add anything you consider interesting, then we'll create other i

[2017-03-16 15:44] teknico commented on #775
Comment by @dpino linked above:

[2017-03-16 15:45] kbara commented on #775
Ideally, there would be coverage for every option of every command. In practice, that's probably a bit heavyweight for this project, but adding coverage for any command / combination of commands which has had a known regression (at least from now on) strikes me as a good minimum.

[2017-03-21 13:44] tsyesika commented on #697
After speaking to @kbara and taking a better look at this issue it seems the main problem is that we're not checking integer ranges and we definitely could be doing. I think the best way to do this would be to have the leader perform checks either from explicit ranges if they're given or the implicit ranges the type has. This would allow us to ensure out of range values aren't set and a better err

[2017-03-22 10:36] dpino commented on #723
Solved in #729.

[2017-03-22 10:36] #723 closed, assigned to nobody

[2017-03-22 10:44] dpino commented on #701
The issue can be closed as it's solved now:

[code]

Solved in #737.

[2017-03-22 10:44] #701 closed, assigned to nobody

[2017-03-23 07:59] dpino commented on #201
Fixed in #412.

[2017-03-23 07:59] #201 closed

[2017-03-24 12:32] dpino commented on #71
Agreed with @aperezdc to close this issue.

[2017-03-24 12:32] #71 closed

[2017-03-24 13:05] dpino commented on #110
Closing ticket as continuous benchmarking of the lwAFTR is currently deployed at:

https://hydra.snabb.co/project/igalia

A detailed description of continuous benchmarking of the lwAFTR can be checked at https://github.com/Igalia/snabb/blob/lwaftr/src/program/lwaftr/doc/continuous-integration.md

[2017-03-24 13:05] #110 closed

[2017-03-24 14:56] tsyesika commented on #561
This can be closed, it was implemented as of PR #593

[2017-03-24 14:56] #561 closed, assigned to nobody

[2017-03-24 14:57] tsyesika commented on #482
This can be closed, it was introduce in PR #518

[2017-03-24 14:57] #482 closed, assigned to nobody

[2017-03-24 15:00] tsyesika commented on #637
This has been addressed as of PR #685 as @dpino said. This currently works by wrapping the calls in the leader in a `pcall` and if there is an error send that back with the error message. This does not allow for a traceback, I'm not sure if that's desired or not right now.

I'm going to close this, another issue can be opened if we decide we want to add traceback support to the error reporting.

[2017-03-24 15:00] #637 closed, assigned to nobody

[2017-03-24 15:17] dpino commented on #49
I think this ticket can be closed now as the main issue was to produce FHS compatible tarballs for every release. #733 defines a Hydra job that produces a FHS release for every commit. Tarballs are available at:

https://hydra.snabb.co/jobset/igalia/snabb-lwaftr-release

[2017-03-24 15:17] #49 closed

[2017-03-24 15:21] dpino commented on #214
Closing as the issue referred to a former configuration file format no longer supported.

[2017-03-24 15:21] #214 closed

[2017-03-24 15:28] dpino commented on #259
Closing.

We have been running a snabb-bot instance on dedicated hardware since a long time ago. We also have CI benchmarking now.

[2017-03-24 15:28] #259 closed

[2017-03-24 15:46] takikawa commented on #631
This issue was addressed via #703.

[2017-03-24 15:46] #631 closed, assigned to nobody

[2017-03-24 16:52] dpino opened #786 "Validate total sum of psid-map fields"
Currently, psid-map's fields: psid-length + shift + reserved-ports-bit-count > 16.

The total sum of these fields must be 16. reserved-ports-bit-count default value is zero, according to ietf-softwire (equivalent field is psid-offset):

[code]

[2017-03-24 16:53] dpino commented on #283
Closing as it refers to the former configuration format, which is no longer supported.

`reserved-port-bit-count` is supported in snabb-softwire-v1.yang. Currently, the parser allows psid_length + shift < 16. In fact, there's no validation for the total sum of these three fields, which can be even larger than 16.

Created #786.

[2017-03-24 17:29] dpino commented on #249
Fixed in #263 (tunnelled ICMPv4 echo requests from B4) and #266 (hairpinning case).

[2017-03-24 17:29] #249 closed

[2017-03-24 17:39] #210 closed

[2017-03-27 14:26] teknico commented on #731
Did some more investigation on this, also using the `lwaftr bench` subcommand, with the same behavior. Tried changing the tests again, but could not reproduce it. Leaving this alone for now.

[2017-03-27 14:28] teknico opened #788 "Write the "lwaftr transient" selftest"
Write the `snabb lwaftr transient` subcommand selftest.

[2017-03-27 23:41] takikawa opened #789 "YANG: keys for `list` statements with `config false;` should be optional"
Here's an example YANG schema that illustrates the issue:

[code]

The `node` node doesn't have a `key` field despite being a `list`, but AFAIU the [RFC says](https://tools.ietf.org/html/rfc6020#section-7.8.2) such fields are optional when `config false;` is set.

Here's what happens when you try to load a configuration with this schema:

[code]

If you add `key name;` in the schema above (to `nod

[2017-03-28 10:01] teknico commented on #788
The `transient` subcommand seems to perform a subset of the work of the `loadtest` one. It's only used by `src/program/lwaftr/doc/benchmarks-v1.0/Makefile`. Is it still useful, or can we remove it? If the latter, what about the 1.0 benchmarks?

[2017-03-28 14:50] #334 closed, assigned to dpino

[2017-03-29 22:32] dpino commented on #290
I'm closing this issue as it seems no longer valid.

I managed to install `tcpreplay` in our working environment and run the test case. I used tip of `lwaftr-snabbvmx` branch.

[code]

I run the lwAFTR for more than 5 minutes, feeding traffic from tcpreplay in the v4 interface. Packets matched the softwires and got encapsulated. Performance was not good, but that's due to the speed `tcpreplay` can

[2017-03-29 22:32] #290 closed

[2017-03-30 06:42] dpino commented on #268
Closing as the bug refers to an use of channels that it's no longer supported.

In v2, a channel was used to send actions to the lwAFTR data-plane via the "control" subcommand (for instance, reload-binding-table or dump-binding-table). A lwAFTR had access to a ring-buffer (channel) exposed as shared memory. The bug happened when creating a channel in the lwAFTR data-plane.

In v3, the channel code

[2017-03-30 06:42] #268 closed

[2017-03-30 10:14] teknico commented on #788
@dpino, @wingo, any thoughts?

[2017-03-31 09:13] tsyesika opened #792 "Move PSIDMap onto softwires"
We would like to fold `/softwire-config/binding-table/psid-map` into a container on `/softwire-config/binding-table/softwire`. This would prevent bugs from creeping in such as #727 and also make the lwaftr easier to configure.

[2017-04-03 05:46] dpino commented on #792
I believe this change will target snabb-softwire-v2.

On a related note, there was an issue about removing end-addr (#641). The issue is closed as this feature was implemented in #696. However the fix was reverted as it had an horrible effect on files which still use the end-addr feature. Anyway, the #641 issue should have been reopened since the fix was reverted. This issue should tackle now the

[2017-04-03 10:13] tsyesika commented on #727
This should be closed as of #784.

[2017-04-03 10:13] #727 closed, assigned to tsyesika

[2017-04-10 13:41] #789 closed, assigned to nobody

[2017-04-25 12:18] wingo opened #798 "Support identityref in YANG models"
The way to model an extensible set of enumerated values in YANG is to use "identityrefs".  You say that a leaf has a type "identityref" while also specifying that the referenced identity is an instance of some base type.  See https://tools.ietf.org/html/rfc6087#section-4.10.

The Snabb YANG code currently doesn't support identityrefs and probably it should.  It would be nice to support the `ietf-i

[2017-04-25 12:21] wingo opened #799 "Support "augment" in YANG models"
The "augment" statement can allow module A to add data to a tree defined by module B.  For example see https://tools.ietf.org/html/rfc7223#section-3.3 -- you might define an Ethernet interface and then augment that interface's configuration with a vlan tag.

"augment" can also add data to a grouping.

It seems like "augment" is an interesting extensibility point in YANG models and in any case it d

[2017-04-25 12:37] wingo opened #800 "Support "when" in YANG models"
It would be nice to be able to properly support "when" in YANG models.  For example, configuring an ipv4 interface should conditionally add a configuration nodes for that interface's IP address, for example.  This is related to "augment" (#799) but isn't the same thing: augment+when are separable concerns.

The problem of "when" is that it introduces a loop between schema and data.  Only if the da

[2017-04-25 12:39] wingo opened #801 "Design of next lwaftr YANG model"
When you decide to use lightweight 4-over-6 as your IPv4 solution, you buy into the idea of a horizontally scalable bank of lwAFTR instances.  You will have many servers, and you'll need to configure each one with the binding table and the various parameters like ingress filters and vlans and what-not.

With the current model, you actually have to configure each interface separately as well -- one

[2017-04-25 12:42] wingo commented on #801
Some resources for better designing YANG models:

https://tools.ietf.org/html/rfc6087

https://github.com/openconfig/public/blob/master/doc/openconfig_style_guide.md

[2017-04-25 12:59] wingo commented on #801
/me cc's @xray7224 & @plajjan just fyi

[2017-04-25 13:02] wingo commented on #800
https://github.com/openconfig/public/blob/master/doc/openconfig_style_guide.md#xpath defines a subset of XPath that we might implement.

[2017-04-25 16:12] plajjan commented on #801
I've imagined this weaves into RSS support so we keep the single binding table but there might be many worker processes behind the scenes. As you point out the interface config would need to change.

[2017-04-25 21:48] takikawa opened #802 "Support "leafref" in YANG models"
I thought I would report another (non-urgent) YANG feature request to go along with the ones @wingo recently filed.

The `leafref` type lets you specify that a node has the same type as another `leaf` somewhere in the model (specified by a path). This is useful if you want to specify that the value is a key for another node in the model while retaining single point of control for the key type. (ht

[2017-05-16 00:17] takikawa opened #808 "How should we program the RSS redirection table in VMDq mode for intel_mp?"
This is an issue to brainstorm solutions for programming the RSS redirection table for the `intel_mp` driver when it's in VMDq mode. Sorry it's kind of long, but I figured I should try to include enough context to understand what's going on. (CC @teknico)

To recap, VMDq lets you do queue assignment on the NIC to several "virtual functions" (for us it's separate Snabb app instances) based on MAC a

[2017-05-16 09:17] teknico commented on #808
If the table is programmed for two queues and the user enables four of them, wouldn't two queues in the user pool remain unused?

This sounds sensible. It's a hardware limitation after all. And I'd require that, rather than just suggesting it. :-)

[2017-05-16 18:21] takikawa commented on #808
Yes, the idea was to specify a config option like `vmdq_rss = 2` or something and program it to use the first two queues in every pool or something like that. So if they want to use 4 queues, they could set it to 4 (but then all pools should use 4).

Ok. I think it's tricky to actually enforce this condition programmatically though, because the driver app instances aren't aware of how many queues

[2017-05-18 09:04] dpino opened #815 "Remove lwaftr version info"
https://github.com/Igalia/snabb/pull/814 adds a generic --version knob in snabb in lwaftr-3.1 branch. lwaftr branch include some code to print out lwAFTR version number on running `./snabb lwaftr`. Remove this code once lwaftr-3.1 gets merged in lwaftr.

[2017-05-19 12:13] wingo opened #819 "Extend the lwAFTR to support multiple worker processes"
The Snabb lwAFTR is designed to form a part of a scalable lightweight 4-over-6 deployment.  As load rises on a server, an operator may want to devote additional NICs and cores to servicing lw4over6 traffic.  However right now this entails some complexity, as each Snabb lwAFTR instance is just one process and one core.  This means that some system service needs to be responsible for managing a flee

[2017-05-19 12:17] wingo opened #820 "Extend `snabb-softwire-v2` to support multiple processes"
This is a subtask of #819 to update `snabb-softwire-v2`, and adapt the lwAFTR accordingly, but without implementing the multiple-process machinery.

The `/softwire-config/binding-table` will remain as it is.

The `/softwire-config/internal-interface` and `/softwire-config/external-interface` components will need reworking to separate the parts that are always the same between the different process